Repository alphabio/b_values: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, prettier-md, markdownlint

biome-check:
  run: pnpx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

prettier-md:
  run: pnpx prettier --write --log-level=silent {staged_files}
  stage_fixed: true

markdownlint:
  run: pnpx markdownlint-cli2 --fix {staged_files}

chore: bootstrap b_values project and remove template references
  AGENTS.md
  docs/README.md
  docs/SESSION_HANDOVER.md
  docs/sessions/000-template/SESSION_HANDOVER.md
  docs/sessions/000-template/git-ref.txt
  docs/sessions/README.md
Due: prettier-md, markdownlint

docs: establish session workflow and archive session 001
  README.md
  docs/SESSION_HANDOVER.md
  docs/sessions/001/SESSION_HANDOVER.md
  docs/sessions/001/b_architecture_analysis.md
  docs/sessions/001/b_implementation_plan.md
  docs/sessions/001/b_ir_design_analysis.md
  docs/sessions/001/b_package_structure.md
  docs/sessions/001/git-ref.txt
Due: prettier-md, markdownlint

docs: document catalog dependency pattern and update structure
  docs/README.md
Due: prettier-md, markdownlint

feat(b_types): implement Result system with world-class types
  docs/CODE_QUALITY.md
  docs/README.md
  docs/SESSION_HANDOVER.md
  docs/architecture/patterns/result-system-design.md
  docs/architecture/patterns/zod-usage-guidelines.md
  docs/sessions/002/SESSION_HANDOVER.md
  docs/sessions/002/git-ref.txt
  docs/sessions/003/b_session_003_strategy.md
  docs/sessions/003/background-image-requirements.md
  packages/b_types/src/index.ts
  packages/b_types/src/result/core.test.ts
  packages/b_types/src/result/core.ts
  packages/b_types/src/result/generate.test.ts
  packages/b_types/src/result/generate.ts
  packages/b_types/src/result/index.ts
  packages/b_types/src/result/issue.test.ts
  packages/b_types/src/result/issue.ts
  packages/b_types/src/result/parse.test.ts
  packages/b_types/src/result/parse.ts
  packages/b_units/tsconfig.json
  packages/b_units/vite.config.ts
Due: biome-check, prettier-md, markdownlint

feat(keywords,units): implement CSS keywords and units
  AGENTS.md
  docs/SESSION_HANDOVER.md
  docs/sessions/003/SESSION_HANDOVER.md
  docs/sessions/003/background-image-requirements.md
  docs/sessions/003/git-ref.txt
  packages/b_keywords/src/color-interpolation.test.ts
  packages/b_keywords/src/color-interpolation.ts
  packages/b_keywords/src/gradient-direction.test.ts
  packages/b_keywords/src/gradient-direction.ts
  packages/b_keywords/src/index.ts
  packages/b_keywords/src/named-colors.test.ts
  packages/b_keywords/src/named-colors.ts
  packages/b_keywords/src/radial-shape.test.ts
  packages/b_keywords/src/radial-shape.ts
  packages/b_keywords/src/radial-size.test.ts
  packages/b_keywords/src/radial-size.ts
  packages/b_units/src/angle.test.ts
  packages/b_units/src/angle.ts
  packages/b_units/src/index.ts
  packages/b_units/src/length-absolute.test.ts
  packages/b_units/src/length-absolute.ts
  packages/b_units/src/length-font.test.ts
  packages/b_units/src/length-font.ts
  packages/b_units/src/length-viewport.test.ts
  packages/b_units/src/length-viewport.ts
  packages/b_units/src/length.test.ts
  packages/b_units/src/length.ts
  packages/b_units/src/percentage.test.ts
  packages/b_units/src/percentage.ts
Due: biome-check, prettier-md, markdownlint

docs: add minimal JSDoc guidelines
  AGENTS.md
  docs/SESSION_HANDOVER.md
  docs/architecture/patterns/minimal-jsdoc.md
Due: prettier-md, markdownlint

docs: update session 006 handover
  apps/basic/src/app/routeTree.gen.ts
  docs/SESSION_HANDOVER.md
  packages/b_keywords/src/position.test.ts
  packages/b_keywords/src/position.ts
  packages/b_types/src/angle.test.ts
  packages/b_types/src/angle.ts
  packages/b_types/src/color-stop.test.ts
  packages/b_types/src/color-stop.ts
  packages/b_types/src/gradient/conic.test.ts
  packages/b_types/src/gradient/conic.ts
  packages/b_types/src/gradient/direction.test.ts
  packages/b_types/src/gradient/direction.ts
  packages/b_types/src/gradient/index.test.ts
  packages/b_types/src/gradient/index.ts
  packages/b_types/src/gradient/linear.test.ts
  packages/b_types/src/gradient/linear.ts
  packages/b_types/src/gradient/radial-size.test.ts
  packages/b_types/src/gradient/radial-size.ts
  packages/b_types/src/gradient/radial.test.ts
  packages/b_types/src/gradient/radial.ts
  packages/b_types/src/length-percentage.test.ts
  packages/b_types/src/length-percentage.ts
  packages/b_types/src/length.test.ts
  packages/b_types/src/length.ts
  packages/b_types/src/percentage.test.ts
  packages/b_types/src/percentage.ts
  packages/b_types/src/position.test.ts
  packages/b_types/src/position.ts
  packages/b_types/src/url.test.ts
  packages/b_types/src/url.ts
Due: biome-check, prettier-md, markdownlint

feat: complete position keywords and color interpolation per spec
  packages/b_keywords/src/color-interpolation.test.ts
  packages/b_keywords/src/color-interpolation.ts
  packages/b_keywords/src/position.test.ts
  packages/b_keywords/src/position.ts
  packages/b_types/src/color-interpolation-method.test.ts
  packages/b_types/src/color-interpolation-method.ts
  packages/b_types/src/index.ts
Due: biome-check

feat: complete gradient spec - dual positions, hints, full color interpolation
  apps/basic/src/app/routeTree.gen.ts
  docs/SESSION_HANDOVER.md
  packages/b_keywords/src/position.test.ts
  packages/b_types/src/color-interpolation-method.test.ts
  packages/b_types/src/color-interpolation-method.ts
  packages/b_types/src/color-stop.test.ts
  packages/b_types/src/color-stop.ts
  packages/b_types/src/gradient/conic.test.ts
  packages/b_types/src/gradient/conic.ts
  packages/b_types/src/gradient/linear.test.ts
  packages/b_types/src/gradient/linear.ts
  packages/b_types/src/gradient/radial.test.ts
  packages/b_types/src/gradient/radial.ts
Due: biome-check, prettier-md, markdownlint

feat(b_utils): add utilities package with parse and generate helpers
  docs/SESSION_HANDOVER.md
  docs/sessions/006/SESSION_HANDOVER.md
  docs/sessions/006/git-ref.txt
  docs/sessions/007/parser-generator-recon.md
  packages/b_units/src/angle.ts
  packages/b_units/src/length-absolute.ts
  packages/b_units/src/length-font.ts
  packages/b_units/src/length-viewport.ts
  packages/b_units/src/percentage.ts
  packages/b_utils/package.json
  packages/b_utils/src/generate/index.ts
  packages/b_utils/src/generate/values.ts
  packages/b_utils/src/index.ts
  packages/b_utils/src/parse/angle.ts
  packages/b_utils/src/parse/index.ts
  packages/b_utils/src/parse/length.ts
  packages/b_utils/src/parse/position.ts
  packages/b_utils/tsconfig.json
  packages/b_utils/tsup.config.ts
  pnpm-lock.yaml
Due: biome-check, prettier-md, markdownlint

feat(b_generators): implement color generators
  .vscode/cspell.json
  apps/basic/src/app/routeTree.gen.ts
  docs/SESSION_HANDOVER.md
  packages/b_generators/src/color/color-function.ts
  packages/b_generators/src/color/color.ts
  packages/b_generators/src/color/hex.test.ts
  packages/b_generators/src/color/hex.ts
  packages/b_generators/src/color/hsl.test.ts
  packages/b_generators/src/color/hsl.ts
  packages/b_generators/src/color/hwb.ts
  packages/b_generators/src/color/index.ts
  packages/b_generators/src/color/lab.ts
  packages/b_generators/src/color/lch.ts
  packages/b_generators/src/color/named.test.ts
  packages/b_generators/src/color/named.ts
  packages/b_generators/src/color/oklab.ts
  packages/b_generators/src/color/oklch.ts
  packages/b_generators/src/color/rgb.test.ts
  packages/b_generators/src/color/rgb.ts
  packages/b_generators/src/color/special.test.ts
  packages/b_generators/src/color/special.ts
  packages/b_generators/src/index.ts
  packages/b_utils/package.json
  packages/b_utils/src/generate/index.ts
  packages/b_utils/src/generate/values.ts
  packages/b_utils/src/index.ts
  packages/b_utils/src/parse/angle.ts
  packages/b_utils/src/parse/index.ts
  packages/b_utils/src/parse/length.ts
  packages/b_utils/src/parse/position.ts
  packages/b_utils/tsconfig.json
  packages/b_utils/tsup.config.ts
  packages/b_utils/vite.config.ts
Due: biome-check, prettier-md, markdownlint

docs: add review session requirement to handover
  docs/SESSION_HANDOVER.md
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint

feat(types,utils,generators): implement CssValue discriminated unions
  docs/SESSION_HANDOVER.md
  docs/architecture/decisions/001-css-value-discriminated-unions.md
  docs/sessions/007/SESSION_HANDOVER.md
  docs/sessions/007/git-ref.txt
  docs/sessions/008/review-notes.md
  docs/sessions/008/session-summary.md
  packages/b_generators/package.json
  packages/b_generators/src/color/lch.test.ts
  packages/b_generators/src/color/lch.ts
  packages/b_types/src/color/hsl.ts
  packages/b_types/src/color/hwb.ts
  packages/b_types/src/color/lab.ts
  packages/b_types/src/color/lch.test.ts
  packages/b_types/src/color/lch.ts
  packages/b_types/src/color/oklab.ts
  packages/b_types/src/color/oklch.ts
  packages/b_types/src/color/rgb.ts
  packages/b_types/src/index.ts
  packages/b_types/src/values/css-value.test.ts
  packages/b_types/src/values/css-value.ts
  packages/b_types/src/values/index.ts
  packages/b_utils/src/generate/css-value.ts
  packages/b_utils/src/generate/index.ts
  pnpm-lock.yaml
Due: biome-check, prettier-md, markdownlint

docs: update session handover with final status
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs: archive session 008 and initialize session 009
  docs/SESSION_HANDOVER.md
  docs/sessions/008/SESSION_HANDOVER.md
  docs/sessions/008/git-ref.txt
Due: prettier-md, markdownlint

test: remove validation tests per ADR-001
  apps/basic/src/app/routeTree.gen.ts
  packages/b_types/src/color/color-function.test.ts
  packages/b_types/src/color/color.test.ts
  packages/b_types/src/color/hsl.test.ts
  packages/b_types/src/color/hwb.test.ts
  packages/b_types/src/color/lab.test.ts
  packages/b_types/src/color/oklab.test.ts
  packages/b_types/src/color/oklch.test.ts
  packages/b_types/src/color/rgb.test.ts
  packages/b_types/src/values/css-value.ts
Due: biome-check

docs: update session 009 handover - phase 1 complete
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

feat(types,generators): migrate all color types to CssValue
  packages/b_generators/src/color/color-function.ts
  packages/b_generators/src/color/hsl.test.ts
  packages/b_generators/src/color/hsl.ts
  packages/b_generators/src/color/hwb.ts
  packages/b_generators/src/color/lab.ts
  packages/b_generators/src/color/oklab.ts
  packages/b_generators/src/color/oklch.ts
  packages/b_generators/src/color/rgb.test.ts
  packages/b_generators/src/color/rgb.ts
  packages/b_types/src/color/color-function.test.ts
  packages/b_types/src/color/color-function.ts
  packages/b_types/src/color/color.test.ts
  packages/b_types/src/color/hsl.test.ts
  packages/b_types/src/color/hsl.ts
  packages/b_types/src/color/hwb.test.ts
  packages/b_types/src/color/hwb.ts
  packages/b_types/src/color/lab.test.ts
  packages/b_types/src/color/lab.ts
  packages/b_types/src/color/oklab.test.ts
  packages/b_types/src/color/oklab.ts
  packages/b_types/src/color/oklch.test.ts
  packages/b_types/src/color/oklch.ts
  packages/b_types/src/color/rgb.test.ts
  packages/b_types/src/color/rgb.ts
  packages/b_values/src/me.ts
Due: biome-check

docs: session 009 complete - full CssValue migration
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

test: add CssValue variant tests for all color types
  docs/SESSION_HANDOVER.md
  docs/sessions/009/SESSION_HANDOVER.md
  docs/sessions/009/git-ref.txt
  packages/b_generators/src/color/hsl.test.ts
  packages/b_generators/src/color/hwb.test.ts
  packages/b_generators/src/color/lab.test.ts
  packages/b_generators/src/color/lch.test.ts
  packages/b_generators/src/color/oklab.test.ts
  packages/b_generators/src/color/oklch.test.ts
  packages/b_generators/src/color/rgb.test.ts
  packages/b_types/src/color/hsl.test.ts
  packages/b_types/src/color/hwb.test.ts
  packages/b_types/src/color/lab.test.ts
  packages/b_types/src/color/lch.test.ts
  packages/b_types/src/color/oklab.test.ts
  packages/b_types/src/color/oklch.test.ts
  packages/b_types/src/color/rgb.test.ts
  packages/b_utils/src/generate/css-value.test.ts
  packages/b_utils/src/generate/values.test.ts
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint

docs: update session handover with utils coverage improvements
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

test: add comprehensive tests for b_utils parse functions
  docs/SESSION_HANDOVER.md
  packages/b_utils/src/parse/angle.test.ts
  packages/b_utils/src/parse/length.test.ts
  packages/b_utils/src/parse/position.test.ts
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint

docs: final session handover - coverage goals exceeded!
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

feat(parsers): implement color parsers for all color spaces
  .vscode/cspell.json
  docs/SESSION_HANDOVER.md
  docs/sessions/008/session-summary.md
  docs/sessions/010/SESSION_HANDOVER.md
  docs/sessions/010/git-ref.txt
  packages/b_generators/tsconfig.json
  packages/b_keywords/tsconfig.json
  packages/b_parsers/tsconfig.json
  packages/b_properties/tsconfig.json
  packages/b_types/tsconfig.json
  packages/b_units/tsconfig.json
  packages/b_utils/src/parse/angle.test.ts
  packages/b_utils/src/parse/color/helpers.test.ts
  packages/b_utils/src/parse/color/helpers.ts
  packages/b_utils/src/parse/color/hsl.test.ts
  packages/b_utils/src/parse/color/hsl.ts
  packages/b_utils/src/parse/color/hwb.test.ts
  packages/b_utils/src/parse/color/hwb.ts
  packages/b_utils/src/parse/color/index.ts
  packages/b_utils/src/parse/color/lab.test.ts
  packages/b_utils/src/parse/color/lab.ts
  packages/b_utils/src/parse/color/lch.test.ts
  packages/b_utils/src/parse/color/lch.ts
  packages/b_utils/src/parse/color/oklab.test.ts
  packages/b_utils/src/parse/color/oklab.ts
  packages/b_utils/src/parse/color/oklch.test.ts
  packages/b_utils/src/parse/color/oklch.ts
  packages/b_utils/src/parse/color/rgb.test.ts
  packages/b_utils/src/parse/color/rgb.ts
  packages/b_utils/src/parse/color/test-helpers.ts
  packages/b_utils/src/parse/index.ts
  packages/b_utils/src/parse/length.test.ts
  packages/b_utils/src/parse/position.test.ts
  packages/b_utils/tsconfig.json
  packages/b_values/tsconfig.json
Due: biome-check, prettier-md, markdownlint

test(values): add comprehensive color round-trip tests
  docs/SESSION_HANDOVER.md
  docs/sessions/011/SESSION_HANDOVER.md
  docs/sessions/011/git-ref.txt
  packages/b_utils/src/parse/color/hsl.test.ts
  packages/b_utils/src/parse/color/hwb.test.ts
  packages/b_utils/src/parse/color/index.ts
  packages/b_utils/src/parse/color/lab.test.ts
  packages/b_utils/src/parse/color/lch.test.ts
  packages/b_utils/src/parse/color/oklab.test.ts
  packages/b_utils/src/parse/color/oklch.test.ts
  packages/b_utils/src/parse/color/rgb.test.ts
  packages/b_utils/src/parse/color/test-helpers.ts
  packages/b_values/package.json
  packages/b_values/src/color/index.ts
  packages/b_values/src/color/roundtrip.test.ts
  pnpm-lock.yaml
Due: biome-check, prettier-md, markdownlint

test: boost coverage to 89% and refactor test helpers
  docs/SESSION_HANDOVER.md
  docs/architecture/decisions/001-css-value-discriminated-unions.md
  packages/b_generators/src/color/color-function.test.ts
  packages/b_generators/src/color/color.test.ts
  packages/b_parsers/package.json
  packages/b_parsers/src/angle.test.ts
  packages/b_parsers/src/angle.ts
  packages/b_parsers/src/color/hsl.test.ts
  packages/b_parsers/src/color/hsl.ts
  packages/b_parsers/src/color/hwb.test.ts
  packages/b_parsers/src/color/hwb.ts
  packages/b_parsers/src/color/index.ts
  packages/b_parsers/src/color/lab.test.ts
  packages/b_parsers/src/color/lab.ts
  packages/b_parsers/src/color/lch.test.ts
  packages/b_parsers/src/color/lch.ts
  packages/b_parsers/src/color/oklab.test.ts
  packages/b_parsers/src/color/oklab.ts
  packages/b_parsers/src/color/oklch.test.ts
  packages/b_parsers/src/color/oklch.ts
  packages/b_parsers/src/color/rgb.test.ts
  packages/b_parsers/src/color/rgb.ts
  packages/b_parsers/src/index.ts
  packages/b_parsers/src/length.test.ts
  packages/b_parsers/src/length.ts
  packages/b_parsers/src/position.test.ts
  packages/b_parsers/src/position.ts
  packages/b_parsers/tsconfig.json
  packages/b_utils/src/parse/color/test-helpers.ts
  packages/b_utils/src/parse/helpers.test.ts
  packages/b_utils/src/parse/helpers.ts
  packages/b_utils/src/parse/index.ts
  packages/b_utils/src/parse/test-helpers.ts
  packages/b_values/src/color/roundtrip.test.ts
  pnpm-lock.yaml
Due: biome-check, prettier-md, markdownlint

feat(generators): complete generator coverage and refine architecture
  docs/SESSION_HANDOVER.md
  docs/sessions/012/SESSION_HANDOVER.md
  docs/sessions/012/git-ref.txt
  packages/b_generators/src/angle.test.ts
  packages/b_generators/src/angle.ts
  packages/b_generators/src/index.ts
  packages/b_generators/src/length.test.ts
  packages/b_generators/src/length.ts
  packages/b_generators/src/position.test.ts
  packages/b_generators/src/position.ts
  packages/b_parsers/src/color/hsl.test.ts
  packages/b_parsers/src/color/hwb.test.ts
  packages/b_parsers/src/color/lab.test.ts
  packages/b_parsers/src/color/lch.test.ts
  packages/b_parsers/src/color/oklab.test.ts
  packages/b_parsers/src/color/oklch.test.ts
  packages/b_parsers/src/color/rgb.test.ts
  packages/b_parsers/src/index.ts
  packages/b_utils/src/parse/css-value-parser.test.ts
  packages/b_utils/src/parse/css-value-parser.ts
  packages/b_utils/src/parse/index.ts
  packages/b_utils/src/parse/test-utils.ts
Due: biome-check, prettier-md, markdownlint

feat(declarations): implement declaration layer with proper layer separation
  docs/SESSION_HANDOVER.md
  docs/sessions/013/SESSION_HANDOVER.md
  docs/sessions/013/git-ref.txt
  docs/sessions/014/declaration-layer-design.md
  docs/sessions/014/terminology-clarification.md
  packages/b_declarations/package.json
  packages/b_declarations/src/index.ts
  packages/b_declarations/src/integration.test.ts
  packages/b_declarations/src/parser.test.ts
  packages/b_declarations/src/parser.ts
  packages/b_declarations/src/properties/background-image.test.ts
  packages/b_declarations/src/properties/background-image.ts
  packages/b_declarations/src/properties/index.ts
  packages/b_declarations/src/registry.test.ts
  packages/b_declarations/src/registry.ts
  packages/b_declarations/src/types.ts
  packages/b_declarations/src/utils/index.ts
  packages/b_declarations/src/utils/keywords.test.ts
  packages/b_declarations/src/utils/keywords.ts
  packages/b_declarations/src/utils/split.test.ts
  packages/b_declarations/src/utils/split.ts
  packages/b_declarations/tsconfig.json
  packages/b_declarations/tsup.config.ts
  packages/b_declarations/vite.config.ts
  packages/b_parsers/src/index.ts
  packages/b_parsers/src/url.test.ts
  packages/b_parsers/src/url.ts
  packages/b_properties/src/index.ts
  packages/b_values/package.json
  packages/b_values/src/index.ts
  packages/b_values/src/me.ts
  pnpm-lock.yaml
Due: biome-check, prettier-md, markdownlint

docs: session 015 handover
  docs/SESSION_HANDOVER.md
  docs/sessions/014/SESSION_HANDOVER.md
  docs/sessions/014/git-ref.txt
Due: prettier-md, markdownlint

docs: archive session 015 and initialize session 016
  docs/SESSION_HANDOVER.md
  docs/sessions/015/SESSION_HANDOVER.md
  docs/sessions/015/git-ref.txt
  packages/b_declarations/src/properties/background-image.test.ts
  packages/b_declarations/src/properties/background-image.ts
  packages/b_declarations/src/utils/split.test.ts
  packages/b_declarations/src/utils/split.ts
  packages/b_parsers/src/url.test.ts
  packages/b_parsers/src/url.ts
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint

feat(generators): implement gradient generators (linear, radial, conic)
  docs/SESSION_HANDOVER.md
  docs/sessions/016/gradient-parser-design.md
  packages/b_generators/src/gradient/color-stop.ts
  packages/b_generators/src/gradient/conic.ts
  packages/b_generators/src/gradient/index.ts
  packages/b_generators/src/gradient/linear.test.ts
  packages/b_generators/src/gradient/linear.ts
  packages/b_generators/src/gradient/radial.ts
  packages/b_generators/src/index.ts
  packages/b_parsers/src/utils/ast/functions.ts
  packages/b_parsers/src/utils/ast/index.ts
  packages/b_parsers/src/utils/ast/split-by-comma.ts
  packages/b_parsers/src/utils/index.ts
Due: biome-check, prettier-md, markdownlint

docs: update session 016 handover with generator progress
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs: add TODO for test coverage and JSDoc review
  docs/SESSION_HANDOVER.md
  docs/sessions/016/TODO-test-coverage.md
  docs/sessions/016/jsdoc-review.md
Due: prettier-md, markdownlint

docs: document utils structure observation
  docs/sessions/016/utils-structure-review.md
Due: prettier-md, markdownlint

feat(parsers): implement linear gradient parser with round-trip tests
  packages/b_declarations/src/properties/background-image.ts
  packages/b_parsers/package.json
  packages/b_parsers/src/color/color.ts
  packages/b_parsers/src/color/index.ts
  packages/b_parsers/src/gradient/color-stop.ts
  packages/b_parsers/src/gradient/index.ts
  packages/b_parsers/src/gradient/linear.test.ts
  packages/b_parsers/src/gradient/linear.ts
  packages/b_parsers/src/index.ts
  packages/b_values/src/color/roundtrip.test.ts
  pnpm-lock.yaml
Due: biome-check

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  prettier-md: any of: *.md
  markdownlint: any of: *.md
