Repository alphabio/b_values: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, prettier-md, markdownlint

lefthook.yaml:

pre-commit:
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    prettier-md:
      glob: "*.md"
      run: pnpx prettier --write --log-level=silent {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: pnpx markdownlint-cli2 --fix {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpx commitlint --edit {1}

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {push_files}
    typecheck:
      run: pnpm typecheck

docs(agents): add shorthand rejection to startup protocol
  AGENTS.md
Due: prettier-md, markdownlint

feat(keywords,declarations): add Wave 1 visual properties (opacity, color, visibility)
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/sessions/075/MASTER_PLAN.md
  packages/b_declarations/src/generator.test.ts
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/color/definition.ts
  packages/b_declarations/src/properties/color/generator.ts
  packages/b_declarations/src/properties/color/index.ts
  packages/b_declarations/src/properties/color/parser.ts
  packages/b_declarations/src/properties/color/types.ts
  packages/b_declarations/src/properties/definitions.ts
  packages/b_declarations/src/properties/opacity/definition.ts
  packages/b_declarations/src/properties/opacity/generator.ts
  packages/b_declarations/src/properties/opacity/index.ts
  packages/b_declarations/src/properties/opacity/parser.ts
  packages/b_declarations/src/properties/opacity/types.ts
  packages/b_declarations/src/properties/visibility/definition.ts
  packages/b_declarations/src/properties/visibility/generator.ts
  packages/b_declarations/src/properties/visibility/index.ts
  packages/b_declarations/src/properties/visibility/parser.ts
  packages/b_declarations/src/properties/visibility/types.ts
  packages/b_keywords/src/index.ts
  packages/b_keywords/src/visibility.ts
Due: biome-check, prettier-md, markdownlint

fix(declarations): fix generator tests after adding color property
  docs/SESSION_HANDOVER.md
  packages/b_declarations/src/generator.test.ts
  packages/b_declarations/src/manifest.json
Due: biome-check, prettier-md, markdownlint

docs(session): mark session 076 complete - transform properties
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

refactor(keywords,parsers,declarations): consolidate universal CSS functions to single source
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  packages/b_declarations/src/__tests__/var-function.integration.test.ts
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/definitions.ts
  packages/b_declarations/src/utils/type-guards.ts
  packages/b_keywords/src/index.ts
  packages/b_keywords/src/universal-functions.ts
  packages/b_parsers/src/utils/css-value-functions.ts
  packages/b_values/README.md
  packages/b_values/src/test-bg-image-var.ts
  packages/b_values/src/test-original.ts
  packages/b_values/src/test-var-comparison.ts
Due: biome-check, prettier-md, markdownlint

docs(session): mark session 077 complete - filter properties
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs(session): initialize session 078
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/sessions/075/SESSION_HANDOVER.md
  docs/sessions/075/git-ref.txt
  packages/b_declarations/src/manifest.json
Due: biome-check, prettier-md, markdownlint

docs(session-078): architecture audit + font properties master plan
  .vscode/cspell.json
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/architecture/decisions/005-property-field-precedence.md
  docs/sessions/078/FONT_INDEX.md
  docs/sessions/078/FONT_MASTER_PLAN.md
  docs/sessions/078/FONT_QUICK_START.md
  docs/sessions/078/FONT_SUMMARY.txt
  docs/sessions/078/PERSPECTIVE_INTEL.md
  docs/sessions/078/README.md
  docs/sessions/078/SESSION_AUDIT_054-069.md
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/definitions.ts
  packages/b_declarations/src/properties/index.ts
  packages/b_declarations/src/properties/perspective-origin/definition.ts
  packages/b_declarations/src/properties/perspective-origin/generator.ts
  packages/b_declarations/src/properties/perspective-origin/index.ts
  packages/b_declarations/src/properties/perspective-origin/parser.ts
  packages/b_declarations/src/properties/perspective-origin/types.ts
Due: biome-check, prettier-md, markdownlint

feat(types,keywords,generators): add Number type and font property keywords
  packages/b_generators/src/index.ts
  packages/b_generators/src/number.test.ts
  packages/b_generators/src/number.ts
  packages/b_keywords/src/font-family.ts
  packages/b_keywords/src/font-size.ts
  packages/b_keywords/src/font-stretch.ts
  packages/b_keywords/src/font-style.ts
  packages/b_keywords/src/font-variant.ts
  packages/b_keywords/src/font-weight.ts
  packages/b_keywords/src/index.ts
  packages/b_types/src/index.ts
  packages/b_types/src/number.test.ts
  packages/b_types/src/number.ts
Due: biome-check

test(declarations): add comprehensive tests for perspective properties
  packages/b_declarations/src/properties/perspective-origin/generator.test.ts
  packages/b_declarations/src/properties/perspective-origin/parser.test.ts
  packages/b_declarations/src/properties/perspective/generator.test.ts
  packages/b_declarations/src/properties/perspective/parser.test.ts
Due: biome-check

chore: update manifest timestamp and format session 078 docs
  docs/SESSION_HANDOVER.md
  docs/architecture/decisions/005-property-field-precedence.md
  docs/sessions/078/FONT_INDEX.md
  docs/sessions/078/FONT_QUICK_START.md
  packages/b_declarations/src/manifest.json
Due: biome-check, prettier-md, markdownlint

feat(declarations): add font-stretch property
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/font-stretch/definition.ts
  packages/b_declarations/src/properties/font-stretch/generator.test.ts
  packages/b_declarations/src/properties/font-stretch/generator.ts
  packages/b_declarations/src/properties/font-stretch/index.ts
  packages/b_declarations/src/properties/font-stretch/parser.test.ts
  packages/b_declarations/src/properties/font-stretch/parser.ts
  packages/b_declarations/src/properties/font-stretch/types.ts
Due: biome-check

docs(session): update handover for session 079
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

feat(declarations): add font-variant property
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/font-variant/definition.ts
  packages/b_declarations/src/properties/font-variant/generator.test.ts
  packages/b_declarations/src/properties/font-variant/generator.ts
  packages/b_declarations/src/properties/font-variant/index.ts
  packages/b_declarations/src/properties/font-variant/parser.test.ts
  packages/b_declarations/src/properties/font-variant/parser.ts
  packages/b_declarations/src/properties/font-variant/types.ts
Due: biome-check

feat(declarations): add font-weight property
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/font-weight/definition.ts
  packages/b_declarations/src/properties/font-weight/generator.test.ts
  packages/b_declarations/src/properties/font-weight/generator.ts
  packages/b_declarations/src/properties/font-weight/index.ts
  packages/b_declarations/src/properties/font-weight/parser.test.ts
  packages/b_declarations/src/properties/font-weight/parser.ts
  packages/b_declarations/src/properties/font-weight/types.ts
Due: biome-check

feat(declarations): add font-style property
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/font-style/definition.ts
  packages/b_declarations/src/properties/font-style/generator.test.ts
  packages/b_declarations/src/properties/font-style/generator.ts
  packages/b_declarations/src/properties/font-style/index.ts
  packages/b_declarations/src/properties/font-style/parser.test.ts
  packages/b_declarations/src/properties/font-style/parser.ts
  packages/b_declarations/src/properties/font-style/types.ts
Due: biome-check

feat(declarations): add font-size property
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/font-size/definition.ts
  packages/b_declarations/src/properties/font-size/generator.test.ts
  packages/b_declarations/src/properties/font-size/generator.ts
  packages/b_declarations/src/properties/font-size/index.ts
  packages/b_declarations/src/properties/font-size/parser.test.ts
  packages/b_declarations/src/properties/font-size/parser.ts
  packages/b_declarations/src/properties/font-size/types.ts
Due: biome-check

feat(declarations): add font-family property - FINAL FONT PROPERTY
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/font-family/definition.ts
  packages/b_declarations/src/properties/font-family/generator.test.ts
  packages/b_declarations/src/properties/font-family/generator.ts
  packages/b_declarations/src/properties/font-family/index.ts
  packages/b_declarations/src/properties/font-family/parser.test.ts
  packages/b_declarations/src/properties/font-family/parser.ts
  packages/b_declarations/src/properties/font-family/types.ts
Due: biome-check

docs(session): update handover - core font properties complete
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/definitions.ts
Due: biome-check, prettier-md, markdownlint

feat(declarations): add line-height property
  docs/SESSION_HANDOVER.md
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/definitions.ts
  packages/b_declarations/src/properties/index.ts
  packages/b_declarations/src/properties/line-height/definition.ts
  packages/b_declarations/src/properties/line-height/generator.test.ts
  packages/b_declarations/src/properties/line-height/generator.ts
  packages/b_declarations/src/properties/line-height/index.ts
  packages/b_declarations/src/properties/line-height/parser.test.ts
  packages/b_declarations/src/properties/line-height/parser.ts
  packages/b_declarations/src/properties/line-height/types.ts
Due: biome-check, prettier-md, markdownlint

feat(declarations): add font-kerning and font-optical-sizing properties
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/definitions.ts
  packages/b_declarations/src/properties/font-kerning/definition.ts
  packages/b_declarations/src/properties/font-kerning/generator.ts
  packages/b_declarations/src/properties/font-kerning/index.ts
  packages/b_declarations/src/properties/font-kerning/parser.ts
  packages/b_declarations/src/properties/font-kerning/types.ts
  packages/b_declarations/src/properties/font-optical-sizing/definition.ts
  packages/b_declarations/src/properties/font-optical-sizing/generator.ts
  packages/b_declarations/src/properties/font-optical-sizing/index.ts
  packages/b_declarations/src/properties/font-optical-sizing/parser.ts
  packages/b_declarations/src/properties/font-optical-sizing/types.ts
  packages/b_declarations/src/properties/index.ts
Due: biome-check

feat(declarations): add font-variant-caps, font-variant-numeric, and font-variant-ligatures properties
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/definitions.ts
  packages/b_declarations/src/properties/font-variant-caps/definition.ts
  packages/b_declarations/src/properties/font-variant-caps/generator.ts
  packages/b_declarations/src/properties/font-variant-caps/index.ts
  packages/b_declarations/src/properties/font-variant-caps/parser.ts
  packages/b_declarations/src/properties/font-variant-caps/types.ts
  packages/b_declarations/src/properties/font-variant-ligatures/definition.ts
  packages/b_declarations/src/properties/font-variant-ligatures/generator.ts
  packages/b_declarations/src/properties/font-variant-ligatures/index.ts
  packages/b_declarations/src/properties/font-variant-ligatures/parser.ts
  packages/b_declarations/src/properties/font-variant-ligatures/types.ts
  packages/b_declarations/src/properties/font-variant-numeric/definition.ts
  packages/b_declarations/src/properties/font-variant-numeric/generator.ts
  packages/b_declarations/src/properties/font-variant-numeric/index.ts
  packages/b_declarations/src/properties/font-variant-numeric/parser.ts
  packages/b_declarations/src/properties/font-variant-numeric/types.ts
  packages/b_declarations/src/properties/index.ts
Due: biome-check

feat(tooling): auto-generate properties/index.ts
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/index.ts
  scripts/generate-property-definitions.ts
Due: biome-check

feat(tooling): add property scaffolding and auto-generation
  package.json
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/background-attachment/index.ts
  packages/b_declarations/src/properties/background-clip/index.ts
  packages/b_declarations/src/properties/background-image/index.ts
  packages/b_declarations/src/properties/background-origin/index.ts
  packages/b_declarations/src/properties/background-repeat/index.ts
  packages/b_declarations/src/properties/custom-property/index.ts
  packages/b_declarations/src/properties/perspective-origin/index.ts
  scripts/generate-property-definitions.ts
  scripts/scaffold-property.ts
Due: biome-check

fix(schema): align manifest schema with reality
  docs.llm/b_source.txt
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/manifest.schema.json
Due: biome-check

chore: remove deprecated scaffolding experiments
  package.json
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/manifest.schema.json
  scripts/audit-property.ts
  scripts/new-property.ts
Due: biome-check

docs(session): handover - properties sprint + tooling automation
  .vscode/cspell.json
  AGENTS.md
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/sessions/077/git-ref.txt
  docs/sessions/078/FONT_SUMMARY.txt
  docs/sessions/078/SESSION_HANDOVER.md
  docs/sessions/078/git-ref.txt
  package.json
  packages/b_declarations/src/manifest.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-check, prettier-md, markdownlint

chore: save session 079 work and start session 080 remediation plan
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/architecture/decisions/005-property-field-precedence.md
  docs/architecture/patterns/GOLD_STANDARD.md
  docs/sessions/079/SESSION_HANDOVER.md
  docs/sessions/079/git-ref.txt
  docs/sessions/080/audit-keywords.js
  docs/sessions/080/audit-parsers.js
  docs/sessions/080/audit-script.js
  docs/sessions/080/audit-units.js
  docs/sessions/080/full_audit_results.md
  docs/sessions/080/remediation-plan.md
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/border-bottom-style/types.ts
  packages/b_declarations/src/properties/font-family/types.ts
  packages/b_declarations/src/properties/text-align/types.ts
  packages/b_declarations/src/properties/text-overflow/types.ts
  packages/b_declarations/src/properties/text-transform/types.ts
  packages/b_declarations/src/properties/white-space/types.ts
Due: biome-check, prettier-md, markdownlint

docs(session-080): cssvalue audit and analysis
  apps/basic/src/app/routeTree.gen.ts
  docs/SESSION_HANDOVER.md
  docs/sessions/080/cssvalue-audit-corrected.md
  docs/sessions/080/cssvalue-coverage-audit.md
  docs/sessions/080/summary.md
  docs/sessions/080/test-fix-plan.md
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/font-weight/parser.test.ts
  packages/b_declarations/src/properties/perspective/parser.test.ts
Due: biome-check, prettier-md, markdownlint

feat(transform): migrate all transform functions to CssValue
  apps/basic/src/app/routeTree.gen.ts
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/sessions/080/cssvalue-audit-corrected.md
  docs/sessions/080/transform-cssvalue-migration-final.md
  docs/sessions/080/transform-cssvalue-plan.md
  docs/sessions/080/transform-migration-analysis.md
  docs/sessions/080/translate-cssvalue-migration-complete.md
  packages/b_declarations/src/declaration-list-generator.test.ts
  packages/b_declarations/src/declaration-list-generator.ts
  packages/b_declarations/src/declaration-list-parser.test.ts
  packages/b_declarations/src/declaration-list-parser.ts
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/parser.test.ts
  packages/b_declarations/src/parser.ts
  packages/b_declarations/src/types.ts
  packages/b_generators/src/transform/index.ts
  packages/b_parsers/src/transform/matrix.ts
  packages/b_parsers/src/transform/perspective.ts
  packages/b_parsers/src/transform/rotate.ts
  packages/b_parsers/src/transform/scale.ts
  packages/b_parsers/src/transform/skew.ts
  packages/b_parsers/src/transform/translate.ts
  packages/b_types/src/transform/matrix.ts
  packages/b_types/src/transform/perspective.ts
  packages/b_types/src/transform/rotate.ts
  packages/b_types/src/transform/scale.ts
  packages/b_types/src/transform/skew.ts
  packages/b_types/src/transform/translate.ts
Due: biome-check, prettier-md, markdownlint

docs(session-081): audit 32 properties missing concrete type layer
  docs/sessions/081/SUMMARY.md
  docs/sessions/081/TODO.md
  docs/sessions/081/concrete-type-audit.md
Due: prettier-md, markdownlint

fix(declarations): parseDeclaration now includes property name in all error issues
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/sessions/080/SESSION_HANDOVER.md
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/parser.test.ts
  packages/b_declarations/src/parser.ts
  packages/b_declarations/src/properties/animation-delay/types.ts
Due: biome-check, prettier-md, markdownlint

docs(session-081): verify special cases and available infrastructure
  docs/SESSION_HANDOVER.md
  docs/sessions/081/TODO.md
  docs/sessions/081/special-cases-analysis.md
Due: prettier-md, markdownlint

docs(session-081): update handover with verification results
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint
