Repository alphabio/b_values: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, prettier-md, markdownlint

lefthook.yaml:

pre-commit:
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    prettier-md:
      glob: "*.md"
      run: pnpx prettier --write --log-level=silent {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: pnpx markdownlint-cli2 --fix {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpx commitlint --edit {1}

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {push_files}
    typecheck:
      run: pnpm typecheck

docs(session-081): correct animation-delay status
  docs/SESSION_HANDOVER.md
  packages/b_declarations/src/properties/animation-delay/types.ts
Due: biome-check, prettier-md, markdownlint

docs(session-081): document learnings from animation-delay test run
  docs/sessions/081/animation-delay-test-run.md
Due: prettier-md, markdownlint

feat(declarations): add concrete Time type to animation-delay
  docs/SESSION_HANDOVER.md
  docs/sessions/081/SUMMARY.md
  docs/sessions/081/TODO.md
  docs/sessions/081/animation-delay-test-run.md
  docs/sessions/081/intel-findings.md
  docs/sessions/081/special-cases-analysis.md
  docs/sessions/081/test-animation-delay.ts
  docs/sessions/081/test-roundtrip.ts
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/animation-delay/generator.ts
  packages/b_declarations/src/properties/animation-delay/parser.ts
  packages/b_declarations/src/properties/animation-delay/types.ts
Due: biome-check, prettier-md, markdownlint

feat(declarations): add concrete Time type to 3 remaining time properties
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/animation-duration/generator.ts
  packages/b_declarations/src/properties/animation-duration/parser.ts
  packages/b_declarations/src/properties/animation-duration/types.ts
  packages/b_declarations/src/properties/transition-delay/generator.ts
  packages/b_declarations/src/properties/transition-delay/parser.ts
  packages/b_declarations/src/properties/transition-delay/types.ts
  packages/b_declarations/src/properties/transition-duration/generator.ts
  packages/b_declarations/src/properties/transition-duration/parser.ts
  packages/b_declarations/src/properties/transition-duration/types.ts
Due: biome-check

docs(session-081): update handover with Time properties completion
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs(session-081): add final summary for handover
  docs.llm/b_source.txt
  docs/sessions/081/FINAL-SUMMARY.md
  docs/sessions/081/test-animation-delay.ts
  docs/sessions/081/test-roundtrip.ts
  packages/b_declarations/src/manifest.json
Due: biome-check, prettier-md, markdownlint

docs(session-081): mark session COMPLETE
  docs/SESSION_HANDOVER.md
  docs/skills/session.init.md
Due: prettier-md, markdownlint

fix(declarations): multiple parser bug fixes
  .vscode/settings.json
  docs.llm/b_source.txt
  package.json
  packages/b_declarations/src/declaration-list-parser.ts
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/animation-delay/parser.ts
  packages/b_declarations/src/properties/animation-duration/parser.ts
  packages/b_declarations/src/properties/background-position-x/definition.ts
  packages/b_declarations/src/properties/background-position-x/generator.ts
  packages/b_declarations/src/properties/background-position-x/parser.ts
  packages/b_declarations/src/properties/background-position-x/types.ts
  packages/b_declarations/src/properties/background-position-y/definition.ts
  packages/b_declarations/src/properties/background-position-y/generator.ts
  packages/b_declarations/src/properties/background-position-y/parser.ts
  packages/b_declarations/src/properties/background-position-y/types.ts
  packages/b_declarations/src/properties/transition-delay/parser.ts
  packages/b_declarations/src/properties/transition-duration/parser.ts
  packages/b_declarations/src/utils/create-multi-value-parser.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-check
