Repository alphabio/b_values: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, prettier-md, markdownlint

biome-check:
  run: pnpx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

prettier-md:
  run: pnpx prettier --write --log-level=silent {staged_files}
  stage_fixed: true

markdownlint:
  run: pnpx markdownlint-cli2 --fix {staged_files}

docs: Session 065 complete - validation architecture + bug fix
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

fix(declarations): critical bug fixes from feedback review
  .vscode/cspell.json
  apps/basic/src/app/routeTree.gen.ts
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  packages/b_declarations/src/__tests__/important-flag.integration.test.ts
  packages/b_declarations/src/declaration-list-generator.ts
  packages/b_declarations/src/parser.ts
  packages/b_declarations/src/properties/custom-property/definition.ts
  packages/b_values/src/test-bg-image-var.ts
  packages/b_values/src/test-original.ts
  packages/b_values/src/test-var-comparison.ts
  scripts/new-property.ts
Due: biome-check, prettier-md, markdownlint

docs(session-065): architecture improvements plan + test fixes
  .vscode/cspell.json
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/sessions/065/SESSION_HANDOVER.md
  docs/sessions/065/architecture-improvements.md
  packages/b_declarations/src/__tests__/var-support.integration.test.ts
  packages/b_declarations/src/properties/background-clip/parser.test.ts
Due: biome-check, prettier-md, markdownlint

feat(declarations): add property contract test system
  packages/b_declarations/src/__tests__/property-contract.meta.test.ts
  packages/b_declarations/src/test/property-test-utils.ts
Due: biome-check

test(declarations): clarify property contract assertions
  packages/b_declarations/src/__tests__/property-contract.meta.test.ts
Due: biome-check

refactor(declarations): move property-test-utils to __tests__
  packages/b_declarations/src/__tests__/property-contract.meta.test.ts
  packages/b_declarations/src/__tests__/property-test-utils.ts
  packages/b_declarations/src/__tests__/var-support.integration.test.ts
Due: biome-check

fix(declarations): add TypeScript null assertions in property-test-utils
  docs.llm/b_source.txt
  packages/b_declarations/src/__tests__/property-test-utils.ts
Due: biome-check

feat(declarations): lock in API contract system
  apps/basic/src/app/routeTree.gen.ts
  docs.llm/b_source.txt
  packages/b_declarations/src/test/property-contract.ts
  packages/b_declarations/src/types.ts
Due: biome-check

docs: comprehensive architecture review and improvement roadmap
  apps/basic/src/app/routeTree.gen.ts
  docs.llm/b_source.txt
  docs/ARCHITECTURE_IMPROVEMENTS_ROADMAP.md
  docs/GENERATOR_CONTRACT.md
Due: biome-check, prettier-md, markdownlint

feat(declarations): add property system integrity tests
  docs/ARCHITECTURE_IMPROVEMENTS_ROADMAP.md
  docs/GENERATOR_CONTRACT.md
  packages/b_declarations/src/__tests__/property-system-integrity.test.ts
  packages/b_declarations/src/properties/background-attachment/generator.ts
  packages/b_declarations/src/properties/background-clip/generator.ts
  packages/b_declarations/src/properties/background-image/generator.ts
  packages/b_declarations/src/properties/background-origin/generator.ts
  packages/b_declarations/src/properties/background-repeat/generator.ts
  packages/b_declarations/src/properties/background-size/generator.ts
Due: biome-check, prettier-md, markdownlint

docs(session-066): property system integrity tests complete
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/sessions/066/SESSION_SUMMARY.md
Due: prettier-md, markdownlint

refactor(declarations): single source of truth for property definitions
  docs/ARCHITECTURE_FIXES_FOR_SCALE.md
  packages/b_declarations/src/properties/definitions.ts
  packages/b_declarations/src/properties/index.ts
  packages/b_declarations/src/types.derived.ts
  packages/b_declarations/src/types.ts
  packages/b_parsers/src/utils/css-value-parser.ts
  packages/b_utils/src/parse/css-value-parser.ts
Due: biome-check, prettier-md, markdownlint

fix(build): add codegen for property definitions
  docs/ARCHITECTURE_FIXES_FOR_SCALE.md
  docs/sessions/066/SESSION_SUMMARY.md
  package.json
  packages/b_declarations/src/properties/definitions.ts
  packages/b_declarations/src/types.derived.ts
  packages/b_declarations/src/types.map.ts
  packages/b_declarations/src/types.ts
  packages/b_parsers/src/utils/css-value-parser.ts
  packages/b_utils/src/parse/css-value-parser.ts
  scripts/generate-property-definitions.ts
Due: biome-check, prettier-md, markdownlint

docs: achieve 10/10 architecture score
  docs.llm/b_source.txt
  justfile
  packages/b_declarations/src/core/registry.ts
  packages/b_declarations/src/properties/index.ts
  packages/b_types/src/result/generate.ts
  packages/b_types/src/result/parse.ts
  packages/b_utils/src/parse/css-value-parser.ts
Due: biome-check

fix(lint): resolve biome lint violations in property-system-integrity test
  .vscode/cspell.json
  docs.llm/b_source.txt
  packages/b_declarations/src/__tests__/property-system-integrity.test.ts
  scripts/generate-property-definitions.ts
Due: biome-check

fix(test): don't silently ignore generator exceptions in integrity test
  packages/b_declarations/src/__tests__/property-system-integrity.test.ts
Due: biome-check

test(edge-case): add generator exception handling tests
  apps/basic/package.json
  biome.json
  package.json
  packages/b_declarations/src/__tests__/generator-exception-handling.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-check

feat(declarations): add propertyName to multi-value parser for better error messages
  packages/b_declarations/src/properties/background-attachment/parser.ts
  packages/b_declarations/src/properties/background-clip/parser.ts
  packages/b_declarations/src/properties/background-image/parser.ts
  packages/b_declarations/src/properties/background-origin/parser.ts
  packages/b_declarations/src/properties/background-position/parser.ts
  packages/b_declarations/src/properties/background-repeat/parser.ts
  packages/b_declarations/src/properties/background-size/parser.ts
  packages/b_declarations/src/utils/create-multi-value-parser.ts
Due: biome-check

feat(manifest): implement property manifest system with audit tool (phase 1)
  .vscode/cspell.json
  docs/SESSION_HANDOVER.md
  docs/sessions/067/ARCHITECTURE_FIXES_FOR_SCALE.md
  docs/sessions/067/ARCHITECTURE_IMPROVEMENTS_ROADMAP.md
  docs/sessions/067/GENERATOR_CONTRACT.md
  docs/sessions/067/SESSION_HANDOVER.md
  docs/sessions/067/git-ref.txt
  docs/sessions/067/multi-value-propertyname-improvement.md
  docs/sessions/067/new-property-script-audit.md
  docs/sessions/067/session-notes.md
  docs/sessions/068/CSS_VALUES_INTEGRATION_ANALYSIS.md
  docs/sessions/068/MANIFEST_IMPLEMENTATION.md
  docs/sessions/068/PROPERTY_SCAFFOLDING_STRATEGY.md
  package.json
  scripts/manifest/audit-property.ts
  scripts/manifest/property-manifest.json
  scripts/manifest/schema.json
Due: biome-check, prettier-md, markdownlint

docs(values): embed consistency value system and identify generator naming issue
  AGENTS.md
  docs/sessions/068/GENERATOR_NAMING_REFACTOR.md
  docs/sessions/068/RETROFIT_ANALYSIS.md
  scripts/manifest/audit-property.ts
  scripts/manifest/property-manifest.json
Due: biome-check, prettier-md, markdownlint

docs(values): enforce no-workaround policy explicitly
  AGENTS.md
  docs/sessions/068/GENERATOR_NAMING_REFACTOR.md
Due: prettier-md, markdownlint

docs(architecture): clarify shorthand vs structured value distinction
  docs/sessions/068/BACKGROUND_POSITION_ANALYSIS.md
Due: prettier-md, markdownlint

docs(policy): define longhand siblings strategy - NO redundant siblings
  docs/sessions/068/LONGHAND_SIBLINGS_STRATEGY.md
Due: prettier-md, markdownlint

docs(policy): strict shorthand definition - background-position is LONGHAND
  docs/sessions/068/STRICT_SHORTHAND_POLICY.md
Due: prettier-md, markdownlint

docs(architecture): STRICT LONGHAND ONLY - reject shorthands at entry
  docs/sessions/068/SHORTHAND_EXPANSION_DECISION.md
Due: prettier-md, markdownlint

refactor(policy): embrace composite longhands - DRY without compromising architecture
  AGENTS.md
  docs.llm/b_source.txt
  docs/sessions/068/COMPOSITE_LONGHAND_PATTERN.md
Due: prettier-md, markdownlint

docs(policy): STRICT BOUNDARY - structural vs bundling shorthands
  docs/sessions/068/STRICT_SHORTHAND_BOUNDARY.md
Due: prettier-md, markdownlint

docs(ir-model): define canonical IR architecture for structural shorthands
  docs/sessions/068/IR_MODEL_STRUCTURAL_SHORTHANDS.md
Due: prettier-md, markdownlint

docs(pattern): identify layer-based vs element-based property pattern
  docs/sessions/068/BLEND_MODE_PATTERN.md
Due: prettier-md, markdownlint

docs(session): comprehensive Session 068 handover
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs(session-068): archive complete - property automation revolution
  .vscode/cspell.json
  docs/SESSION_HANDOVER.md
  docs/sessions/068/BACKGROUND_POSITION_ANALYSIS.md
  docs/sessions/068/BLEND_MODE_PATTERN.md
  docs/sessions/068/COMPOSITE_LONGHAND_PATTERN.md
  docs/sessions/068/GENERATOR_NAMING_REFACTOR.md
  docs/sessions/068/IR_MODEL_STRUCTURAL_SHORTHANDS.md
  docs/sessions/068/LONGHAND_SIBLINGS_STRATEGY.md
  docs/sessions/068/MANIFEST_IMPLEMENTATION.md
  docs/sessions/068/SESSION_SUMMARY.md
  docs/sessions/068/SHORTHAND_EXPANSION_DECISION.md
  docs/sessions/068/STRICT_SHORTHAND_BOUNDARY.md
  docs/sessions/068/STRICT_SHORTHAND_POLICY.md
Due: biome-check, prettier-md, markdownlint

docs(handover): add detailed execution plan for background-blend-mode
  docs/NEXT_SESSION_EXECUTION.md
  docs/architecture/patterns/CSS_VALUE_PATTERN_DETECTION.md
  docs/architecture/patterns/PROPERTY_IMPLEMENTATION_PROTOCOL.md
Due: prettier-md, markdownlint

docs(patterns): update README with new core protocols
  docs/architecture/patterns/README.md
  docs/guides/PROPERTY_IMPLEMENTATION_GUIDE.md
Due: prettier-md, markdownlint

refactor(manifest): move property-manifest.json to root for visibility
  property-manifest.json
  property-manifest.schema.json
  scripts/audit-property.ts
Due: biome-check

feat(generators): standardize Background namespace naming
  AGENTS.md
  apps/basic/src/app/routeTree.gen.ts
  biome.json
  biome.jsonc.tmp
  docs/NEXT_SESSION_EXECUTION.md
  docs/architecture/patterns/CSS_VALUE_PATTERN_DETECTION.md
  docs/architecture/patterns/PROPERTY_IMPLEMENTATION_PROTOCOL.md
  docs/architecture/patterns/README.md
  docs/guides/PROPERTY_IMPLEMENTATION_GUIDE.md
  docs/sessions/068/SESSION_SUMMARY.md
  packages/b_declarations/src/properties/background-attachment/generator.ts
  packages/b_declarations/src/properties/background-clip/generator.ts
  packages/b_declarations/src/properties/background-image/generator.ts
  packages/b_declarations/src/properties/background-origin/generator.ts
  packages/b_declarations/src/properties/background-repeat/generator.ts
  packages/b_declarations/src/properties/background-size/generator.ts
  packages/b_declarations/src/utils/generate-value.ts
  packages/b_generators/src/background/attachment.ts
  packages/b_generators/src/background/clip.ts
  packages/b_generators/src/background/image.ts
  packages/b_generators/src/background/origin.ts
  packages/b_generators/src/background/repeat.ts
  packages/b_generators/src/background/size.ts
  property-manifest.json
  scripts/refactor-generators.ts
Due: biome-check, prettier-md, markdownlint

refactor(architecture): align with CSS value type taxonomy
  biome.jsonc.tmp
  packages/b_generators/src/background/attachment.ts
  packages/b_generators/src/background/clip.ts
  packages/b_generators/src/background/image.ts
  packages/b_generators/src/background/index.ts
  packages/b_generators/src/background/origin.ts
  packages/b_generators/src/background/repeat.ts
  packages/b_generators/src/background/size.ts
  packages/b_generators/src/image/image.ts
  packages/b_generators/src/image/index.ts
  packages/b_generators/src/index.ts
  packages/b_parsers/src/background/attachment.ts
  packages/b_parsers/src/background/clip.ts
  packages/b_parsers/src/background/index.ts
  packages/b_parsers/src/background/origin.ts
  packages/b_parsers/src/background/repeat.ts
  packages/b_parsers/src/background/size.ts
  packages/b_parsers/src/image/image.ts
  packages/b_parsers/src/image/index.ts
  packages/b_parsers/src/index.ts
Due: biome-check

chore(scripts): remove obsolete generate-types-map script
  .markdownlint-cli2.jsonc
  biome.json
  packages/b_declarations/tsconfig.json
  packages/b_generators/tsconfig.json
  packages/b_keywords/tsconfig.json
  packages/b_parsers/tsconfig.json
  packages/b_types/tsconfig.json
  packages/b_units/tsconfig.json
  packages/b_utils/tsconfig.json
  packages/b_values/tsconfig.json
  scripts/generate-types-map.mts
Due: biome-check

chore(scripts): remove ephemeral migration script
  scripts/refactor-generators.ts
Due: biome-check

docs(session): end session 069 - CSS taxonomy migration complete
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

fix(declarations): update call sites for taxonomy migration
  docs/SESSION_HANDOVER.md
  packages/b_declarations/src/properties/background-attachment/generator.ts
  packages/b_declarations/src/properties/background-attachment/parser.ts
  packages/b_declarations/src/properties/background-clip/generator.ts
  packages/b_declarations/src/properties/background-clip/parser.ts
  packages/b_declarations/src/properties/background-image/generator.test.ts
  packages/b_declarations/src/properties/background-image/generator.ts
  packages/b_declarations/src/properties/background-image/parser.test.ts
  packages/b_declarations/src/properties/background-image/parser.ts
  packages/b_declarations/src/properties/background-origin/generator.ts
  packages/b_declarations/src/properties/background-origin/parser.ts
  packages/b_declarations/src/properties/background-repeat/generator.ts
  packages/b_declarations/src/properties/background-repeat/parser.ts
  packages/b_declarations/src/properties/background-size/generator.ts
  packages/b_declarations/src/properties/background-size/parser.ts
  packages/b_generators/src/image/image.ts
Due: biome-check, prettier-md, markdownlint

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  prettier-md: any of: *.md
  markdownlint: any of: *.md
