Repository alphabio/b_values: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, prettier-md, markdownlint

biome-check:
  run: pnpx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

prettier-md:
  run: pnpx prettier --write --log-level=silent {staged_files}
  stage_fixed: true

markdownlint:
  run: pnpx markdownlint-cli2 --fix {staged_files}

docs(session): mark Session 069 complete - taxonomy migration deployed
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs(quality): fix session file location policy - always use session dir, never /tmp/
  docs/CODE_QUALITY.md
Due: prettier-md, markdownlint

docs: make bootstrap docs stateless and accurate
  AGENTS.md
  docs/CODE_QUALITY.md
  docs/README.md
Due: prettier-md, markdownlint

docs(session): end session 070 - bootstrap audit and cleanup complete
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

refactor(scripts): deprecate new-property.ts, mandate manifest-based workflow
  docs/MANIFEST_BASED_WORKFLOW.md
  scripts/new-property.ts
Due: biome-check, prettier-md, markdownlint

docs: create property implementation protocol v2
  docs/PROPERTY_IMPLEMENTATION_V2.md
Due: prettier-md, markdownlint

docs: consolidate property implementation documentation
  docs/MANIFEST_BASED_WORKFLOW.md
  docs/NEXT_SESSION_EXECUTION.md
  docs/PROPERTY_GUIDE.md
  docs/PROPERTY_IMPLEMENTATION_V2.md
  docs/archive/session-068-exploration/BACKGROUND_POSITION_ANALYSIS.md
  docs/archive/session-068-exploration/BLEND_MODE_PATTERN.md
  docs/archive/session-068-exploration/COMPOSITE_LONGHAND_PATTERN.md
  docs/archive/session-068-exploration/CSS_VALUES_INTEGRATION_ANALYSIS.md
  docs/archive/session-068-exploration/GENERATOR_NAMING_REFACTOR.md
  docs/archive/session-068-exploration/IR_MODEL_STRUCTURAL_SHORTHANDS.md
  docs/archive/session-068-exploration/LONGHAND_SIBLINGS_STRATEGY.md
  docs/archive/session-068-exploration/MANIFEST_IMPLEMENTATION.md
  docs/archive/session-068-exploration/PROPERTY_SCAFFOLDING_STRATEGY.md
  docs/archive/session-068-exploration/RETROFIT_ANALYSIS.md
  docs/archive/session-068-exploration/SESSION_SUMMARY.md
  docs/archive/session-068-exploration/SHORTHAND_EXPANSION_DECISION.md
  docs/archive/session-068-exploration/STRICT_SHORTHAND_BOUNDARY.md
  docs/archive/session-068-exploration/STRICT_SHORTHAND_POLICY.md
Due: prettier-md, markdownlint

feat(declarations): implement background-blend-mode property
  docs/PROPERTY_GUIDE.md
  docs/SESSION_HANDOVER.md
  packages/b_declarations/src/properties/background-blend-mode/definition.ts
  packages/b_declarations/src/properties/background-blend-mode/generator.ts
  packages/b_declarations/src/properties/background-blend-mode/index.ts
  packages/b_declarations/src/properties/background-blend-mode/parser.ts
  packages/b_declarations/src/properties/background-blend-mode/types.ts
  packages/b_declarations/src/properties/definitions.ts
  packages/b_declarations/src/properties/index.ts
  packages/b_generators/src/blend-mode.ts
  packages/b_generators/src/index.ts
  packages/b_keywords/src/blend-mode.ts
  packages/b_keywords/src/index.ts
  packages/b_parsers/src/blend-mode.ts
  packages/b_parsers/src/index.ts
Due: biome-check, prettier-md, markdownlint

feat(declarations): implement mix-blend-mode property
  packages/b_declarations/src/properties/index.ts
  packages/b_declarations/src/properties/mix-blend-mode/definition.ts
  packages/b_declarations/src/properties/mix-blend-mode/generator.ts
  packages/b_declarations/src/properties/mix-blend-mode/index.ts
  packages/b_declarations/src/properties/mix-blend-mode/parser.ts
  packages/b_declarations/src/properties/mix-blend-mode/types.ts
  packages/b_keywords/src/blend-mode.ts
Due: biome-check

docs(session): Session 018 audit complete - all critical issues resolved
  docs/sessions/018/AUDIT-STATUS.md
Due: prettier-md, markdownlint

docs(session): transition readiness audit - foundation types needed
  docs/sessions/018/RE-AUDIT.md
Due: prettier-md, markdownlint

fix(scripts): remove unused imports, add biome-ignore for CLI scripts
  apps/basic/src/app/routeTree.gen.ts
  docs.llm/b_source.txt
  docs/sessions/018/AUDIT-STATUS.md
  docs/sessions/018/RE-AUDIT.md
  packages/b_declarations/src/properties/definitions.ts
  packages/b_declarations/src/properties/mix-blend-mode/definition.ts
  packages/b_declarations/src/properties/mix-blend-mode/generator.ts
  packages/b_declarations/src/properties/mix-blend-mode/parser.ts
  packages/b_declarations/src/properties/mix-blend-mode/types.ts
  packages/b_keywords/src/blend-mode.ts
  scripts/audit-property.ts
  scripts/new-property.ts
Due: biome-check, prettier-md, markdownlint

fix(biome): restore working includes pattern order - excludes *.gen.* files
  biome.json
Due: biome-check

docs(session): pre-transition readiness report - all systems go
  docs/sessions/018/READINESS_REPORT.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-check, prettier-md, markdownlint

docs(session): actualize external architectural feedback - 2/3 resolved
  .vscode/cspell.json
  docs.llm/b_source.txt
  docs/sessions/018/BIOME_IGNORE_INVESTIGATION.md
  docs/sessions/018/FEEDBACK_ACTUALIZATION.md
  docs/sessions/018/READINESS_REPORT.md
  packages/b_parsers/src/utils/css-value-parser.ts
  packages/b_utils/src/parse/css-value-parser.test.ts
  packages/b_utils/src/parse/css-value-parser.ts
Due: biome-check, prettier-md, markdownlint

feat(declarations): unified property generation - manifest auto-generated
  packages/b_declarations/package.json
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/manifest.schema.json
  packages/b_declarations/src/types.map.ts
  property-manifest.json
  scripts/audit-property.ts
  scripts/generate-property-definitions.ts
  scripts/generate-property-ir-map.ts
Due: biome-check

fix(biome): allow console in scripts + cleanup generation script
  .vscode/cspell.json
  biome.json
  docs.llm/b_source.txt
  packages/b_declarations/src/manifest.json
  scripts/generate-property-definitions.ts
  scripts/generate-session-data.sh
Due: biome-check

refactor: resolve external feedback - improve type safety and docs
  docs.llm/b_source.txt
  justfile
  package.json
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/types.map.ts
  packages/b_declarations/src/types.ts
  packages/b_parsers/src/gradient/__tests__/conic/color-stops.test.ts
  packages/b_parsers/src/gradient/__tests__/conic/combinations.test.ts
  packages/b_parsers/src/gradient/__tests__/conic/edge-cases.test.ts
  packages/b_parsers/src/gradient/__tests__/linear/color-stops.test.ts
  packages/b_parsers/src/gradient/__tests__/radial/color-stops.test.ts
  packages/b_parsers/src/gradient/conic.test.ts
  packages/b_types/src/color-stop.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/generate-property-definitions.ts
Due: biome-check

docs(session): archive Session 068 b_short integration analysis
  docs/sessions/068/SESSION_b_short_integration.md
Due: prettier-md, markdownlint

refactor(declarations): establish utilities pattern - shorthands vs longhands
  apps/basic/src/app/routeTree.gen.ts
  docs/sessions/068/SESSION_b_short_integration.md
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/definitions.ts
  packages/b_declarations/src/properties/index.ts
  packages/b_declarations/src/utilities/README.md
  packages/b_declarations/src/utilities/index.ts
  packages/b_declarations/src/utilities/position/README.md
  packages/b_declarations/src/utilities/position/definition.ts
  packages/b_declarations/src/utilities/position/generator.ts
  packages/b_declarations/src/utilities/position/index.ts
  packages/b_declarations/src/utilities/position/parser.ts
  packages/b_declarations/src/utilities/position/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-check, prettier-md, markdownlint

docs(session): Session 071 handover - utilities pattern established
  docs/sessions/071/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs(agents): add execution protocol - verify before implementing
  AGENTS.md
Due: prettier-md, markdownlint

feat(declarations): add background-position-x/y longhand properties
  AGENTS.md
  docs/SESSION_HANDOVER.md
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/background-position-x/definition.ts
  packages/b_declarations/src/properties/background-position-x/generator.ts
  packages/b_declarations/src/properties/background-position-x/index.ts
  packages/b_declarations/src/properties/background-position-x/parser.ts
  packages/b_declarations/src/properties/background-position-x/types.ts
  packages/b_declarations/src/properties/background-position-y/definition.ts
  packages/b_declarations/src/properties/background-position-y/generator.ts
  packages/b_declarations/src/properties/background-position-y/index.ts
  packages/b_declarations/src/properties/background-position-y/parser.ts
  packages/b_declarations/src/properties/background-position-y/types.ts
  packages/b_declarations/src/properties/definitions.ts
  packages/b_declarations/src/properties/index.ts
  packages/b_declarations/src/utilities/index.ts
Due: biome-check, prettier-md, markdownlint

fix(config): disable MD060 markdown table alignment rule
  .markdownlint-cli2.jsonc
  apps/basic/src/app/routeTree.gen.ts
  docs.llm/b_source.txt
  packages/b_declarations/src/__tests__/property-system-integrity.test.ts
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/utilities/position/definition.ts
  packages/b_declarations/src/utilities/position/generator.ts
  packages/b_declarations/src/utilities/position/index.ts
  packages/b_declarations/src/utilities/position/parser.ts
  packages/b_declarations/src/utilities/position/types.ts
Due: biome-check

fix(utilities): remove defineProperty from utilities - maintain single source of truth
  packages/b_declarations/src/utilities/PATTERN.md
  packages/b_declarations/src/utilities/README.md
  packages/b_declarations/src/utilities/position/definition.ts
  packages/b_declarations/src/utilities/position/index.ts
Due: biome-check, prettier-md, markdownlint

feat(declarations): add box model property templates - 4 reference implementations
  apps/basic/src/app/routeTree.gen.ts
  packages/b_declarations/src/properties/border-top-left-radius/definition.ts
  packages/b_declarations/src/properties/border-top-left-radius/generator.ts
  packages/b_declarations/src/properties/border-top-left-radius/index.ts
  packages/b_declarations/src/properties/border-top-left-radius/parser.ts
  packages/b_declarations/src/properties/border-top-left-radius/types.ts
  packages/b_declarations/src/properties/border-top-width/definition.ts
  packages/b_declarations/src/properties/border-top-width/generator.ts
  packages/b_declarations/src/properties/border-top-width/index.ts
  packages/b_declarations/src/properties/border-top-width/parser.ts
  packages/b_declarations/src/properties/border-top-width/types.ts
  packages/b_declarations/src/properties/index.ts
  packages/b_declarations/src/properties/margin-top/definition.ts
  packages/b_declarations/src/properties/margin-top/generator.ts
  packages/b_declarations/src/properties/margin-top/index.ts
  packages/b_declarations/src/properties/margin-top/parser.ts
  packages/b_declarations/src/properties/margin-top/types.ts
  packages/b_declarations/src/properties/padding-top/definition.ts
  packages/b_declarations/src/properties/padding-top/generator.ts
  packages/b_declarations/src/properties/padding-top/index.ts
  packages/b_declarations/src/properties/padding-top/parser.ts
  packages/b_declarations/src/properties/padding-top/types.ts
  packages/b_keywords/src/border-width.ts
  packages/b_keywords/src/index.ts
Due: biome-check

docs(session-072): document parser API naming inconsistency
  docs/sessions/072/parser-api-inconsistency.md
Due: prettier-md, markdownlint

docs(session-072): complete session handover
  docs/sessions/072/SESSION_HANDOVER.md
  docs/sessions/072/parser-api-inconsistency.md
Due: prettier-md, markdownlint

docs(session-072): complete session handover
  docs/SESSION_HANDOVER.md
  docs/sessions/072/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

refactor(keywords): fix export pattern consistency
  packages/b_declarations/src/__tests__/roundtrip.test.ts
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/properties/border-bottom-width/parser.ts
  packages/b_declarations/src/properties/border-bottom-width/types.ts
  packages/b_declarations/src/properties/border-left-width/parser.ts
  packages/b_declarations/src/properties/border-left-width/types.ts
  packages/b_declarations/src/properties/border-right-width/parser.ts
  packages/b_declarations/src/properties/border-right-width/types.ts
  packages/b_declarations/src/properties/border-top-width/parser.ts
  packages/b_declarations/src/properties/border-top-width/types.ts
  packages/b_keywords/src/border-style.ts
  packages/b_keywords/src/index.ts
  test_roundtrip.mjs
Due: biome-check

docs(architecture): capture SVG support vision and roadmap
  docs/architecture/SVG_VISION.md
Due: prettier-md, markdownlint

docs(session-073): foundation properties handover - animation platform vision
  docs/SESSION_HANDOVER.md
  docs/sessions/073/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs(architecture): add future vision - WebGL shaders post-foundation
  docs/architecture/SVG_VISION.md
Due: prettier-md, markdownlint

docs(session): add WebGL shader context to handover
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs(session): confirm next priorities - transition, animation, font
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs(session-073): mark complete - box model foundation solid
  docs/SESSION_HANDOVER.md
  docs/architecture/SVG_VISION.md
  packages/b_declarations/src/manifest.json
Due: biome-check, prettier-md, markdownlint

refactor(declarations): delete utilities directory - enforce longhand-only principle
  packages/b_declarations/src/manifest.json
  packages/b_declarations/src/utilities/PATTERN.md
  packages/b_declarations/src/utilities/README.md
  packages/b_declarations/src/utilities/index.ts
  packages/b_declarations/src/utilities/position/README.md
  packages/b_declarations/src/utilities/position/generator.ts
  packages/b_declarations/src/utilities/position/index.ts
  packages/b_declarations/src/utilities/position/parser.ts
  packages/b_declarations/src/utilities/position/types.ts
Due: biome-check, prettier-md, markdownlint

docs(adr): enforce longhands-only principle - no shorthands ever
  docs/architecture/decisions/001-longhands-only.md
Due: prettier-md, markdownlint

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  prettier-md: any of: *.md
  markdownlint: any of: *.md
