Repository alphabio/b_values: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, prettier-md, markdownlint

lefthook.yaml:

pre-commit:
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    prettier-md:
      glob: "*.md"
      run: pnpx prettier --write --log-level=silent {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: pnpx markdownlint-cli2 --fix {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpx commitlint --edit {1}

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {push_files}
    typecheck:
      run: pnpm typecheck

docs: add CSS values and functions explainer
  docs/sessions/054/css-values-functions-explainer.md
Due: prettier-md, markdownlint

docs: add CSS value infrastructure section to explainer
  docs/sessions/054/css-values-functions-explainer.md
Due: prettier-md, markdownlint

docs: move pattern docs to architecture
  docs/HOW-TO-ADD-PROPERTY.md
  docs/architecture/patterns/css-values-functions.md
  docs/architecture/patterns/property-addition-research.md
Due: prettier-md, markdownlint

docs: finalize architecture patterns structure
  docs/HOW-TO-ADD-PROPERTY.md
  docs/architecture/patterns/README.md
Due: prettier-md, markdownlint

update how-to
  docs/architecture/patterns/HOW-TO-ADD-PROPERTY.md
  packages/b_keywords/src/common.ts
Due: biome-check, prettier-md, markdownlint

docs(audit): complete background properties audit
  docs/SESSION_HANDOVER.md
  docs/sessions/057/background-properties-audit-COMPLETE.md
  docs/sessions/057/background-properties-audit.md
Due: prettier-md, markdownlint

docs(session): update handover - pattern alignment needed
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

refactor(keywords): implement namespace import pattern
  docs/SESSION_HANDOVER.md
  docs/sessions/057/SESSION_HANDOVER.md
  docs/sessions/057/background-properties-audit.md
  docs/sessions/057/git-ref.txt
  docs/sessions/058/refactor-plan.md
  packages/b_declarations/src/parser.ts
  packages/b_keywords/src/bg-size.test.ts
  packages/b_keywords/src/bg-size.ts
  packages/b_keywords/src/color-interpolation.test.ts
  packages/b_keywords/src/color-interpolation.ts
  packages/b_keywords/src/color-space.test.ts
  packages/b_keywords/src/color-space.ts
  packages/b_keywords/src/common.ts
  packages/b_keywords/src/gradient-direction.test.ts
  packages/b_keywords/src/gradient-direction.ts
  packages/b_keywords/src/named-colors.test.ts
  packages/b_keywords/src/named-colors.ts
  packages/b_keywords/src/position.test.ts
  packages/b_keywords/src/position.ts
  packages/b_keywords/src/radial-shape.test.ts
  packages/b_keywords/src/radial-shape.ts
  packages/b_keywords/src/radial-size.test.ts
  packages/b_keywords/src/radial-size.ts
  packages/b_parsers/src/background/size.ts
  packages/b_parsers/src/color/color-function.ts
  packages/b_types/src/bg-size.ts
  packages/b_types/src/color-interpolation-method.ts
  packages/b_types/src/color/named.ts
  packages/b_types/src/gradient/direction.ts
  packages/b_types/src/gradient/radial-size.ts
  packages/b_types/src/gradient/radial.ts
Due: biome-check, prettier-md, markdownlint

docs(session-058): update handover with phase 1 completion
  docs/SESSION_HANDOVER.md
  docs/sessions/058/phase-1-namespace-imports-complete.md
Due: prettier-md, markdownlint

feat(types): add reusable molecule types for image and repeat-style
  docs/sessions/058/phase-1-namespace-imports-complete.md
  packages/b_types/src/image.test.ts
  packages/b_types/src/image.ts
  packages/b_types/src/index.ts
  packages/b_types/src/repeat-style.test.ts
  packages/b_types/src/repeat-style.ts
Due: biome-check, prettier-md, markdownlint

docs(session-058): update handover with phase 2 completion
  docs/SESSION_HANDOVER.md
  docs/sessions/058/phase-2-reusable-molecules-complete.md
Due: prettier-md, markdownlint

docs(session-058): phase 3 complete
  docs/SESSION_HANDOVER.md
  docs/sessions/058/phase-2-reusable-molecules-complete.md
Due: prettier-md, markdownlint

refactor(declarations): use reusable molecule types in background properties
  packages/b_declarations/src/properties/background-image/types.ts
  packages/b_declarations/src/properties/background-repeat/parser.ts
  packages/b_declarations/src/properties/background-repeat/types.ts
Due: biome-check

docs: complete HOW-TO-ADD-PROPERTY-V2 with THE pattern
  docs/architecture/patterns/HOW-TO-ADD-PROPERTY-V2.md
Due: prettier-md, markdownlint

docs(session-058): add note about incomplete refactor plan
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs: Archive previous session and create new handover
  docs/SESSION_HANDOVER.md
  docs/sessions/059/SESSION_HANDOVER.md
  docs/sessions/059/git-ref.txt
Due: prettier-md, markdownlint

feat: auto generate property map
  .github/CI-CD-GUIDE.md
  .github/QUICK-START-CI.md
  .github/README.md
  .github/SETUP-CHECKLIST.md
  .github/workflows/ci.yml
  .vscode/cspell.json
  apps/basic/src/app/routeTree.gen.ts
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/architecture/patterns/001-available-utilities.md
  docs/architecture/patterns/001-minimal-jsdoc.md
  docs/architecture/patterns/001-zod-usage-guidelines.md
  docs/architecture/patterns/002-parser-architectures.md
  docs/architecture/patterns/003-result-system-design.md
  docs/architecture/patterns/004-atom-vs-molecule-principle.md
  docs/architecture/patterns/004-css-values-functions.md
  docs/architecture/patterns/004-property-addition-research.md
  docs/architecture/patterns/004-testing-patterns.md
  docs/architecture/patterns/005-HOW-TO-ADD-PROPERTY.md
  docs/architecture/patterns/006-AGENT_QUICK_REFERENCE.md
  docs/architecture/patterns/006-AUTOMATION_OPPORTUNITIES.md
  docs/architecture/patterns/006-PROPERTY_CREATION_HANDBOOK.md
  docs/architecture/patterns/HOW-TO-ADD-PROPERTY.md.backup-2025-11-07
  docs/architecture/patterns/HOW-TO-ADD-PROPERTY.md.backup-2025-11-08
  package.json
  packages/b_declarations/src/declaration-list-generator.ts
  packages/b_declarations/src/declaration-list-parser.test.ts
  packages/b_declarations/src/types.map.ts
  packages/b_declarations/src/utils/create-multi-value-parser.ts
  packages/b_types/src/result/generate.test.ts
  packages/b_utils/src/parse/ast.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/generate-property-ir-map.ts
Due: biome-check, prettier-md, markdownlint

feat: :sparkles: support important flag
  AGENTS.md
  docs.llm/b_source.txt
  packages/b_declarations/src/core/registry.test.ts
  packages/b_declarations/src/declaration-list-generator.ts
  packages/b_declarations/src/declaration-list-parser.ts
  packages/b_declarations/src/generator.test.ts
  packages/b_declarations/src/generator.ts
  packages/b_declarations/src/important-flag.integration.test.ts
  packages/b_declarations/src/parser.test.ts
  packages/b_declarations/src/parser.ts
  packages/b_declarations/src/properties/background-clip/generator.test.ts
  packages/b_declarations/src/properties/background-clip/parser.test.ts
  packages/b_declarations/src/properties/background-clip/parser.ts
  packages/b_declarations/src/properties/background-clip/types.ts
  packages/b_declarations/src/properties/background-repeat/parser.ts
  packages/b_declarations/src/properties/background-repeat/types.ts
  packages/b_declarations/src/properties/custom-property/definition.ts
  packages/b_declarations/src/properties/custom-property/parser.ts
  packages/b_declarations/src/types.ts
  packages/b_declarations/src/utils/create-multi-value-parser.ts
  packages/b_declarations/src/var-support.integration.test.ts
  packages/b_generators/src/background/clip.ts
  packages/b_generators/src/background/repeat.ts
  packages/b_generators/src/color/oklch.ts
  packages/b_parsers/src/background/clip.ts
  packages/b_parsers/src/background/repeat.ts
  packages/b_parsers/src/color/color-function.ts
  packages/b_parsers/src/length.ts
  packages/b_parsers/src/utils/ast/functions.ts
  packages/b_parsers/src/utils/ast/split-by-comma.ts
  packages/b_types/src/values/css-value.ts
  packages/b_utils/src/parse/css-value-parser.ts
  packages/b_values/src/test-bg-image-var.ts
  packages/b_values/src/test-original.ts
  packages/b_values/src/test-var-comparison.ts
  scripts/generate-types-map.mts
  scripts/new-property.ts
Due: biome-check, prettier-md, markdownlint

refactor(b_declarations): organize integration tests into __tests__ directory
  docs/SESSION_HANDOVER.md
  docs/sessions/060/SESSION_HANDOVER.md
  docs/sessions/060/git-ref.txt
  packages/b_declarations/src/__tests__/important-flag.integration.test.ts
  packages/b_declarations/src/__tests__/var-support.integration.test.ts
Due: biome-check, prettier-md, markdownlint

feat: agent skills added
  .vscode/cspell.json
  AGENTS.md
  docs/README.md
  docs/SESSION_HANDOVER.md
  docs/sessions/061/FEEDBACK_01.md
  docs/sessions/061/FEEDBACK_02.md
  docs/sessions/061/FEEDBACK_03.md
  docs/sessions/061/FEEDBACK_04.md
  docs/sessions/061/FEEDBACK_05.md
  docs/sessions/061/FEEDBACK_06.md
  docs/sessions/061/FEEDBACK_ANALYSIS.md
  docs/sessions/061/SESSION_HANDOVER.md
  docs/sessions/061/git-ref.txt
  docs/skills/README.md
  docs/skills/session.continue.md
  docs/skills/session.end.md
  docs/skills/session.init.md
  docs/skills/session.status.md
  docs/skills/session.update.md
  packages/b_declarations/src/properties/background-size/types.ts
Due: biome-check, prettier-md, markdownlint

docs(session-064): universal CSS functions master plan
  .vscode/cspell.json
  docs/README.md
  docs/SESSION_HANDOVER.md
  docs/sessions/058/SESSION_HANDOVER.md
  docs/sessions/062/SESSION_HANDOVER.md
  docs/sessions/062/git-ref.txt
  docs/sessions/063/FEEDBACK_DIGEST.md
  docs/sessions/063/FEEDBACK_SUMMARY.md
  docs/sessions/063/SESSION_HANDOVER.md
  docs/sessions/063/VALIDATION_REPORT.md
  docs/sessions/063/feedback/FEEDBACK_01.md
  docs/sessions/063/feedback/FEEDBACK_02.md
  docs/sessions/063/feedback/FEEDBACK_03.md
  docs/sessions/063/feedback/FEEDBACK_04.md
  docs/sessions/063/git-ref.txt
  docs/sessions/064/FEEDBACK_RESPONSE.md
  docs/sessions/064/MASTER_PLAN.md
  docs/sessions/064/REVISED_MASTER_PLAN.md
  docs/sessions/064/boilerplate_analysis.md
  docs/skills/session.continue.md
Due: biome-check, prettier-md, markdownlint

feat(b_declarations): implement Phase 0 type guards
  docs/SESSION_HANDOVER.md
  docs/sessions/061/SESSION_HANDOVER.md
  docs/sessions/063/FEEDBACK_DIGEST.md
  docs/sessions/063/VALIDATION_REPORT.md
  docs/sessions/064/FEEDBACK_RESPONSE.md
  docs/sessions/064/REVISED_MASTER_PLAN.md
  docs/skills/README.md
  packages/b_declarations/src/__tests__/important-flag.integration.test.ts
  packages/b_declarations/src/__tests__/var-support.integration.test.ts
  packages/b_declarations/src/utils/type-guards.test.ts
  packages/b_declarations/src/utils/type-guards.ts
Due: biome-check, prettier-md, markdownlint

docs(session-064): update session handover - Phase 0 complete
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs(architecture): document universal CSS values pattern
  docs/SESSION_HANDOVER.md
  docs/architecture/patterns/universal-css-values.md
  docs/sessions/064/ALIGNMENT_ANALYSIS.md
  docs/sessions/064/ARCHITECTURE_COMPARISON.md
  docs/sessions/064/CORRECTED_PLAN.md
  docs/sessions/064/PHILOSOPHY_ALIGNMENT.md
  docs/sessions/064/RESEARCH_FINDINGS.md
  packages/b_declarations/src/__tests__/universal-css-functions.integration.test.ts
  packages/b_declarations/src/utils/create-multi-value-parser.ts
Due: biome-check, prettier-md, markdownlint

docs(session-064): update session handover with commit info
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs(session-064): update handover - phase 2 is parser cleanup
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

feat(b_declarations): add CssValue unions to property schemas
  packages/b_declarations/src/properties/background-attachment/types.ts
  packages/b_declarations/src/properties/background-clip/types.ts
  packages/b_declarations/src/properties/background-image/types.ts
  packages/b_declarations/src/properties/background-origin/types.ts
  packages/b_declarations/src/properties/background-repeat/types.ts
  packages/b_declarations/src/properties/background-size/types.ts
  packages/b_declarations/src/utils/create-multi-value-parser.ts
Due: biome-check

docs(session-064): update handover with Phase 2 complete
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

feat(b_declarations): complete Phase 3 - generator wrapper utility
  docs/SESSION_HANDOVER.md.bak
  docs/architecture/patterns/universal-css-values.md
  docs/sessions/064/ALIGNMENT_ANALYSIS.md
  docs/sessions/064/ARCHITECTURE_COMPARISON.md
  docs/sessions/064/PHILOSOPHY_ALIGNMENT.md
  docs/sessions/064/RESEARCH_FINDINGS.md
  packages/b_declarations/src/__tests__/universal-css-functions.integration.test.ts
  packages/b_declarations/src/properties/background-attachment/generator.ts
  packages/b_declarations/src/properties/background-clip/generator.ts
  packages/b_declarations/src/properties/background-clip/parser.ts
  packages/b_declarations/src/properties/background-image/generator.ts
  packages/b_declarations/src/properties/background-image/parser.ts
  packages/b_declarations/src/properties/background-image/types.ts
  packages/b_declarations/src/properties/background-origin/generator.ts
  packages/b_declarations/src/properties/background-repeat/generator.ts
  packages/b_declarations/src/properties/background-size/generator.ts
  packages/b_declarations/src/utils/generate-value.ts
  packages/b_declarations/src/utils/index.ts
  packages/b_generators/src/background/image.ts
  packages/b_parsers/src/background/clip.ts
  packages/b_parsers/src/background/image.ts
  packages/b_types/src/image.ts
Due: biome-check, prettier-md, markdownlint

docs(session-064): Phase 3 complete - clean architecture achieved
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs(session-064): user validates Phase 3 architecture
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

refactor(b_types): use discriminated union for Image type
  docs/SESSION_HANDOVER.md
  packages/b_declarations/src/__tests__/universal-css-functions.integration.test.ts
  packages/b_declarations/src/properties/background-image/parser.test.ts.bak
  packages/b_declarations/src/utils/generate-value.ts
  packages/b_generators/src/background/image.ts
  packages/b_parsers/src/background/image.ts
  packages/b_types/src/image.ts
Due: biome-check, prettier-md, markdownlint

docs(session-064): Session complete - production ready
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs(session-064): critical calc() architecture decision point
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs(session-064): final handover - design complete
  AGENTS.md
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

feat(declarations): add background-color and background-position properties
  docs/SESSION_HANDOVER.md
  docs/SESSION_HANDOVER.md.bak
  docs/sessions/064/ALIGNMENT_ANALYSIS.md
  docs/sessions/064/FINAL_IMPLEMENTATION_PLAN.md
  docs/sessions/064/HANDOFF_CHECKLIST.md
  docs/sessions/064/QUICK_START.md
  docs/sessions/064/REVISED_MASTER_PLAN.md
  docs/sessions/064/SESSION_SUMMARY.md
  docs/sessions/064/TDD_APPROACH.md
  packages/b_declarations/src/properties/background-color/definition.ts
  packages/b_declarations/src/properties/background-color/generator.ts
  packages/b_declarations/src/properties/background-color/index.ts
  packages/b_declarations/src/properties/background-color/parser.ts
  packages/b_declarations/src/properties/background-color/types.ts
  packages/b_declarations/src/properties/background-position/definition.ts
  packages/b_declarations/src/properties/background-position/generator.ts
  packages/b_declarations/src/properties/background-position/index.ts
  packages/b_declarations/src/properties/background-position/parser.ts
  packages/b_declarations/src/properties/background-position/types.ts
  packages/b_declarations/src/properties/index.ts
Due: biome-check, prettier-md, markdownlint

feat(declarations): add validation architecture with allowedKeywords
  docs/SESSION_HANDOVER.md
  docs/sessions/064/FINAL_IMPLEMENTATION_PLAN.md
  docs/sessions/064/HANDOFF_CHECKLIST.md
  docs/sessions/064/QUICK_START.md
  docs/sessions/064/SESSION_SUMMARY.md
  docs/sessions/064/TDD_APPROACH.md
  packages/b_declarations/src/parser-validation.test.ts
  packages/b_declarations/src/parser.ts
  packages/b_declarations/src/properties/background-attachment/definition.ts
  packages/b_declarations/src/properties/background-clip/definition.ts
  packages/b_declarations/src/properties/background-color/definition.ts
  packages/b_declarations/src/properties/background-color/parser.ts
  packages/b_declarations/src/properties/background-origin/definition.ts
  packages/b_declarations/src/properties/background-position/parser.ts
  packages/b_declarations/src/types.map.ts
  packages/b_declarations/src/types.ts
Due: biome-check, prettier-md, markdownlint
