Repository alphabio/b_values: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, prettier-md, markdownlint

lefthook.yaml:

pre-commit:
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    prettier-md:
      glob: "*.md"
      run: pnpx prettier --write --log-level=silent {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: pnpx markdownlint-cli2 --fix {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpx commitlint --edit {1}

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {push_files}
    typecheck:
      run: pnpm typecheck

refactor(types): apply final architectural refinements from code review
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/sessions/027/SUMMARY.md
  docs/sessions/027/final-refinements.md
  packages/b_declarations/src/parser.ts
  packages/b_declarations/src/properties/background-image/parser.ts
  packages/b_generators/src/color/named.ts
  packages/b_utils/src/generate/validation.ts
Due: biome-check, prettier-md, markdownlint

docs: comprehensive ADR Phase 1 planning and analysis
  docs/SESSION_HANDOVER.md
  docs/sessions/027/COMPLETE.md
  docs/sessions/027/phase1-READY.md
  docs/sessions/027/phase1-action-plan.md
  docs/sessions/027/phase1-code-trace.md
  docs/sessions/027/phase1-exploration.md
Due: prettier-md, markdownlint

feat: integrate validate() and return partial IR for comprehensive error reporting
  apps/basic/src/app/routeTree.gen.ts
  docs/SESSION_HANDOVER.md
  docs/sessions/027/SESSION_HANDOVER.md
  docs/sessions/027/git-ref.txt
  docs/sessions/027/phase1-READY.md
  docs/sessions/027/phase1-action-plan.md
  docs/sessions/028/implementation-complete.md
  docs/sessions/028/issues-and-findings.md
  docs/sessions/028/multiple-issues-analysis.md
  docs/sessions/028/validate-integration-analysis.md
  packages/b_declarations/package.json
  packages/b_declarations/src/parser.ts
  packages/b_declarations/src/properties/background-image/parser.ts
  packages/b_parsers/src/gradient/conic.ts
  packages/b_parsers/src/gradient/linear.ts
  packages/b_parsers/src/gradient/radial.ts
  packages/b_values/src/me copy.ts
  packages/b_values/src/me.ts
  pnpm-lock.yaml
Due: biome-check, prettier-md, markdownlint

wip: session 029 - var() support analysis and planning
  apps/basic/src/app/routeTree.gen.ts
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/sessions/028/SESSION_HANDOVER.md
  docs/sessions/028/git-ref.txt
  docs/sessions/029/action-plan-cssvalue-support.md
  docs/sessions/029/action-plan-generator-support.md
  docs/sessions/029/css-values-parse.md
  packages/b_types/src/values/css-value.test.ts
  packages/b_types/src/values/css-value.ts
  packages/b_utils/src/parse/css-value-parser.ts
  packages/b_values/src/agent.ts
  packages/b_values/src/me copy.ts
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint

fix: complete cssValueToCss with all CssValue cases
  packages/b_utils/src/generate/css-value.ts
  packages/b_utils/src/parse/css-value-parser.ts
Due: biome-check

feat: add var() support to color parsing and generation (Phase 1)
  packages/b_generators/src/color/color.ts
  packages/b_parsers/src/color/color.ts
  packages/b_types/src/color/color.ts
  packages/b_utils/src/parse/css-value-parser.test.ts
  packages/b_utils/src/parse/css-value-parser.ts
  packages/b_values/src/agent.ts
Due: biome-check

docs: update SESSION_HANDOVER with Phase 1 completion
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs: document Phase 2/3 quality failures and recovery plan
  apps/basic/src/app/routeTree.gen.ts
  docs/SESSION_HANDOVER.md
  packages/b_values/src/agent.ts
Due: biome-check, prettier-md, markdownlint

feat(parsers): implement Phase 2 - math functions (calc, min, max, clamp)
  docs/SESSION_HANDOVER.md
  docs/architecture/patterns/available-utilities.md
  docs/sessions/029/SESSION_HANDOVER.md
  docs/sessions/029/git-ref.txt
  packages/b_parsers/src/function-dispatcher.ts
  packages/b_parsers/src/index.ts
  packages/b_parsers/src/math/calc.test.ts
  packages/b_parsers/src/math/calc.ts
  packages/b_parsers/src/math/clamp.test.ts
  packages/b_parsers/src/math/clamp.ts
  packages/b_parsers/src/math/index.ts
  packages/b_parsers/src/math/minmax.test.ts
  packages/b_parsers/src/math/minmax.ts
  packages/b_utils/src/parse/css-value-parser.ts
Due: biome-check, prettier-md, markdownlint

feat(types,parsers,generators): complete Phase 2.5 - CssValue-aware parsers
  docs/SESSION_HANDOVER.md
  docs/sessions/030/NOTE-TO-SELF.md
  packages/b_declarations/src/properties/background-image/__tests__/generator.test.ts
  packages/b_generators/src/gradient/color-stop.ts
  packages/b_generators/src/gradient/conic.test.ts
  packages/b_generators/src/gradient/conic.ts
  packages/b_generators/src/gradient/linear.test.ts
  packages/b_generators/src/gradient/linear.ts
  packages/b_generators/src/gradient/radial.test.ts
  packages/b_generators/src/position.test.ts
  packages/b_generators/src/position.ts
  packages/b_parsers/src/gradient/color-stop.ts
  packages/b_parsers/src/gradient/conic.ts
  packages/b_parsers/src/gradient/linear.test.ts
  packages/b_parsers/src/gradient/linear.ts
  packages/b_parsers/src/position.test.ts
  packages/b_parsers/src/position.ts
  packages/b_types/src/color-stop.test.ts
  packages/b_types/src/color-stop.ts
  packages/b_types/src/gradient/conic.test.ts
  packages/b_types/src/gradient/conic.ts
  packages/b_types/src/gradient/direction.test.ts
  packages/b_types/src/gradient/direction.ts
  packages/b_types/src/gradient/linear.test.ts
  packages/b_types/src/gradient/radial.test.ts
  packages/b_types/src/position.test.ts
  packages/b_types/src/position.ts
  packages/b_utils/src/generate/values.test.ts
  packages/b_utils/src/generate/values.ts
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint

WIP: create parseCssValueNodeEnhanced wrapper (import paths need fixing)
  docs.llm/b_source.txt
  packages/b_parsers/src/color/color.ts
  packages/b_parsers/src/color/hsl.ts
  packages/b_parsers/src/color/hwb.ts
  packages/b_parsers/src/color/lab.ts
  packages/b_parsers/src/color/lch.ts
  packages/b_parsers/src/color/oklab.ts
  packages/b_parsers/src/color/oklch.ts
  packages/b_parsers/src/color/rgb.ts
  packages/b_parsers/src/css-value-parser-enhanced.ts
  packages/b_parsers/src/gradient/color-stop.ts
  packages/b_parsers/src/gradient/conic.ts
  packages/b_parsers/src/gradient/linear.ts
  packages/b_parsers/src/index.ts
  packages/b_parsers/src/math/calc.ts
  packages/b_parsers/src/math/clamp.test.ts
  packages/b_parsers/src/math/clamp.ts
  packages/b_parsers/src/math/minmax.test.ts
  packages/b_parsers/src/math/minmax.ts
  packages/b_parsers/src/position.ts
  packages/b_utils/src/parse/css-value-parser.ts
  packages/b_values/src/agent.ts
  pnpm-lock.yaml
Due: biome-check

fix(types,utils): resolve duplicate hexColorSchema export
  docs/SESSION_HANDOVER_030.md
  packages/b_parsers/src/gradient/conic.test.ts
  packages/b_types/src/values/css-value.ts
  packages/b_utils/src/generate/css-value.ts
Due: biome-check, prettier-md, markdownlint

docs: update session 030 handover - Phase 2.5 complete
  docs/SESSION_HANDOVER_030.md
Due: prettier-md, markdownlint

fix(utils): skip validation for dynamic CSS values (var, calc, etc)
  docs/SESSION_HANDOVER_030.md
  packages/b_utils/src/parse/validate.test.ts
  packages/b_utils/src/parse/validate.ts
Due: biome-check, prettier-md, markdownlint

docs: update session 030 with validation fix details
  docs/SESSION_HANDOVER_030.md
Due: prettier-md, markdownlint

refactor(types,utils): comment out inconsistent rgb/hsl function schemas
  packages/b_types/src/values/css-value.ts
  packages/b_utils/src/generate/css-value.ts
Due: biome-check

docs: add rgb/hsl schema cleanup to session 030 handover
  docs/SESSION_HANDOVER_030.md
Due: prettier-md, markdownlint

docs: add gradient deep dive plan for session 031
  docs/sessions/031/GRADIENT_DEEP_DIVE_PLAN.md
Due: prettier-md, markdownlint

docs: add linear gradient spec-based test plan
  docs/sessions/031/LINEAR_GRADIENT_SPEC_TESTS.md
Due: prettier-md, markdownlint

docs: complete foundation audit for gradients
  docs/sessions/031/FOUNDATION_AUDIT.md
Due: prettier-md, markdownlint

test(gradients): add comprehensive linear gradient generator tests
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/sessions/030/SESSION_HANDOVER.md
  docs/sessions/030/git-ref.txt
  docs/sessions/031/FOUNDATION_AUDIT.md
  docs/sessions/031/GRADIENT_DEEP_DIVE_PLAN.md
  docs/sessions/031/INTEL_SUMMARY.md
  docs/sessions/031/LINEAR_GRADIENT_SPEC_TESTS.md
  docs/sessions/031/SESSION_PROGRESS.md
  docs/sessions/031/TEST_IMPLEMENTATION_PLAN.md
  docs/sessions/031/TEST_ORGANIZATION_PLAN.md
  packages/b_generators/src/gradient/__tests__/linear/color-interpolation.test.ts
  packages/b_generators/src/gradient/__tests__/linear/color-stops.test.ts
  packages/b_generators/src/gradient/__tests__/linear/combinations.test.ts
  packages/b_generators/src/gradient/__tests__/linear/direction.test.ts
  packages/b_generators/src/gradient/__tests__/linear/edge-cases.test.ts
  packages/b_parsers/src/gradient/__tests__/linear/direction.test.ts
  packages/b_utils/src/parse/validate.ts
Due: biome-check, prettier-md, markdownlint

test(b_parsers): add comprehensive linear gradient parser tests
  docs/SESSION_HANDOVER.md
  docs/sessions/031/INTEL_SUMMARY.md
  docs/sessions/031/SESSION_PROGRESS.md
  docs/sessions/031/TEST_IMPLEMENTATION_PLAN.md
  docs/sessions/031/TEST_ORGANIZATION_PLAN.md
  packages/b_generators/src/gradient/__tests__/linear/color-interpolation.test.ts
  packages/b_generators/src/gradient/__tests__/linear/color-stops.test.ts
  packages/b_generators/src/gradient/__tests__/linear/combinations.test.ts
  packages/b_generators/src/gradient/__tests__/linear/direction.test.ts
  packages/b_generators/src/gradient/__tests__/linear/edge-cases.test.ts
  packages/b_parsers/src/gradient/__tests__/linear/color-interpolation.test.ts
  packages/b_parsers/src/gradient/__tests__/linear/color-stops.test.ts
  packages/b_parsers/src/gradient/__tests__/linear/combinations.test.ts
  packages/b_parsers/src/gradient/__tests__/linear/direction.test.ts
  packages/b_parsers/src/gradient/__tests__/linear/edge-cases.test.ts
  packages/b_parsers/src/gradient/__tests__/linear/error-handling.test.ts
  packages/b_parsers/src/gradient/linear.ts
Due: biome-check, prettier-md, markdownlint

docs: finalize session 031 handover
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs(patterns): add comprehensive testing patterns guide
  docs/architecture/patterns/testing-patterns.md
Due: prettier-md, markdownlint

feat(radial): comprehensive generator test coverage with dynamic value support
  docs/SESSION_HANDOVER.md
  docs/architecture/patterns/testing-patterns.md
  docs/sessions/031/SESSION_HANDOVER.md
  docs/sessions/031/git-ref.txt
  docs/sessions/032/RADIAL_GRADIENT_INTEL.md
  docs/sessions/032/TEST_ANALYSIS.md
  packages/b_generators/src/gradient/__tests__/radial/color-interpolation.test.ts
  packages/b_generators/src/gradient/__tests__/radial/color-stops.test.ts
  packages/b_generators/src/gradient/__tests__/radial/combinations.test.ts
  packages/b_generators/src/gradient/__tests__/radial/edge-cases.test.ts
  packages/b_generators/src/gradient/__tests__/radial/position.test.ts
  packages/b_generators/src/gradient/__tests__/radial/shape-size.test.ts
  packages/b_generators/src/gradient/radial.test.ts
  packages/b_generators/src/gradient/radial.ts
  packages/b_parsers/src/gradient/radial.ts
  packages/b_types/src/gradient/radial-size.test.ts
  packages/b_types/src/gradient/radial-size.ts
Due: biome-check, prettier-md, markdownlint

fix(parsers): handle nested functions in gradients (rgb, hsl, var)
  docs/SESSION_HANDOVER.md
  docs/sessions/032/SESSION_HANDOVER.md
  docs/sessions/032/git-ref.txt
  docs/sessions/033/CLEANUP_TASKS.md
  packages/b_parsers/src/gradient/__tests__/radial/color-interpolation.test.ts
  packages/b_parsers/src/gradient/__tests__/radial/color-stops.test.ts
  packages/b_parsers/src/gradient/__tests__/radial/combinations.test.ts
  packages/b_parsers/src/gradient/__tests__/radial/edge-cases.test.ts
  packages/b_parsers/src/gradient/__tests__/radial/error-handling.test.ts
  packages/b_parsers/src/gradient/__tests__/radial/position.test.ts
  packages/b_parsers/src/gradient/__tests__/radial/shape-size.test.ts
  packages/b_parsers/src/gradient/radial.ts
  packages/b_parsers/src/utils/ast/split-by-comma.ts
Due: biome-check, prettier-md, markdownlint

feat(parsers): add gradient disambiguation utility to fix linear gradient ambiguity
  docs/SESSION_HANDOVER.md
  docs/sessions/033/SESSION_HANDOVER.md
  docs/sessions/033/git-ref.txt
  docs/sessions/034/COMPLETION_SUMMARY.md
  docs/sessions/034/CONIC_GRADIENT_SPEC.md
  docs/sessions/034/LINEAR_GRADIENT_AMBIGUITY.md
  docs/sessions/034/debug-test.ts
  packages/b_parsers/src/gradient/__tests__/disambiguation.test.ts
  packages/b_parsers/src/gradient/__tests__/linear/color-stops.test.ts
  packages/b_parsers/src/gradient/disambiguation.ts
  packages/b_parsers/src/gradient/linear.ts
  packages/b_parsers/src/gradient/radial.ts
  packages/b_parsers/src/utils/css-value-functions.ts
  packages/b_parsers/src/utils/index.ts
Due: biome-check, prettier-md, markdownlint

docs(session-034): add CSS spec compliance assessments for gradients
  docs/sessions/034/RADIAL_GRADIENT_SPEC_COMPLIANCE.md
  docs/sessions/034/SPEC_COMPLIANCE_SUMMARY.md
Due: prettier-md, markdownlint

docs(adr): draft ADR for gradient component ordering flexibility
  docs/SESSION_HANDOVER.md
  docs/architecture/decisions/003-draft-gradient-component-ordering.md
  docs/sessions/034/COMPLETION_SUMMARY.md
  docs/sessions/034/CONIC_GRADIENT_SPEC.md
  docs/sessions/034/LINEAR_GRADIENT_AMBIGUITY.md
Due: prettier-md, markdownlint

test(b_parsers): add 206 comprehensive conic gradient tests - found 11 bugs
  .vscode/cspell.json
  docs/SESSION_HANDOVER.md
  docs/sessions/034/SESSION_HANDOVER.md
  docs/sessions/034/git-ref.txt
  docs/sessions/035/BUGS_FOUND.md
  docs/sessions/035/CONIC_GRADIENT_INTEL.md
  docs/sessions/036/SESSION_PLAN.md
  packages/b_parsers/src/gradient/__tests__/conic/color-interpolation.test.ts
  packages/b_parsers/src/gradient/__tests__/conic/color-stops.test.ts
  packages/b_parsers/src/gradient/__tests__/conic/combinations.test.ts
  packages/b_parsers/src/gradient/__tests__/conic/edge-cases.test.ts
  packages/b_parsers/src/gradient/__tests__/conic/error-handling.test.ts
  packages/b_parsers/src/gradient/__tests__/conic/from-angle.test.ts
  packages/b_parsers/src/gradient/__tests__/conic/position.test.ts
Due: biome-check, prettier-md, markdownlint

fix(parsers): fix 8 non-color gradient bugs
  docs/SESSION_HANDOVER.md
  docs/architecture/decisions/004-validation-pattern.md
  docs/sessions/036/SESSION_HANDOVER.md
  docs/sessions/036/SESSION_PLAN.md
  docs/sessions/036/git-ref.txt
  docs/sessions/037/BUG_FIXES.md
  packages/b_declarations/src/parser.ts
  packages/b_parsers/src/color/color.ts
  packages/b_parsers/src/gradient/conic.ts
  packages/b_parsers/src/utils/color-interpolation.ts
  packages/b_utils/src/parse/css-value-parser.ts
Due: biome-check, prettier-md, markdownlint

feat: implement color() function, DRY gradients, improve coverage
  docs/SESSION_HANDOVER.md
  docs/architecture/decisions/004-validation-pattern.md
  docs/sessions/037/SESSION_HANDOVER.md
  docs/sessions/037/git-ref.txt
  docs/sessions/038/coverage-analysis.md
  docs/sessions/038/gradient-analysis.md
  packages/b_keywords/src/color-space.ts
  packages/b_keywords/src/index.ts
  packages/b_parsers/src/color/color-function.ts
  packages/b_parsers/src/color/color.ts
  packages/b_parsers/src/color/index.ts
  packages/b_parsers/src/gradient/__tests__/conic/error-handling.test.ts
  packages/b_parsers/src/gradient/__tests__/linear/error-handling.test.ts
  packages/b_parsers/src/gradient/__tests__/radial/error-handling.test.ts
  packages/b_parsers/src/gradient/conic.ts
  packages/b_parsers/src/gradient/linear.ts
  packages/b_parsers/src/gradient/radial.ts
  packages/b_parsers/src/gradient/shared-parsing.test.ts
  packages/b_parsers/src/gradient/shared-parsing.ts
  packages/b_utils/src/generate/validation.test.ts
Due: biome-check, prettier-md, markdownlint

feat: add comprehensive validation and parse tests
  .vscode/cspell.json
  docs/SESSION_HANDOVER.md
  packages/b_utils/src/generate/validation.test.ts
  packages/b_utils/src/parse/validate.test.ts
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint

test: push coverage to 89.4% (above 89% threshold)
  docs/SESSION_HANDOVER.md
  docs/sessions/038/SESSION_HANDOVER.md
  docs/sessions/038/git-ref.txt
  packages/b_generators/src/color/hex.test.ts
  packages/b_generators/src/color/special.test.ts
  packages/b_parsers/src/color/color.test.ts
  packages/b_parsers/src/math/calc.test.ts
  packages/b_parsers/src/math/clamp.test.ts
  packages/b_parsers/src/math/minmax.test.ts
  packages/b_utils/src/parse/validate.test.ts
Due: biome-check, prettier-md, markdownlint

docs: gradient flexible ordering proposal + TDD tests (RED phase)
  docs/SESSION_HANDOVER.md
  docs/architecture/decisions/004-validation-pattern.md
  docs/sessions/039/GRADIENT_FLEXIBLE_ORDERING_PROPOSAL.md
  packages/b_parsers/src/gradient/__tests__/conic/flexible-ordering.test.ts
  packages/b_parsers/src/gradient/__tests__/linear/flexible-ordering.test.ts
  packages/b_parsers/src/gradient/__tests__/radial/flexible-ordering.test.ts
Due: biome-check, prettier-md, markdownlint

feat(b_parsers): implement gradient flexible component ordering
  .vscode/cspell.json
  docs/SESSION_HANDOVER.md
  docs/sessions/039/GRADIENT_FLEXIBLE_ORDERING_PROPOSAL.md
  docs/sessions/039/SESSION_HANDOVER.md
  docs/sessions/039/git-ref.txt
  packages/b_parsers/src/gradient/__tests__/conic/flexible-ordering.test.ts
  packages/b_parsers/src/gradient/__tests__/linear/flexible-ordering.test.ts
  packages/b_parsers/src/gradient/__tests__/radial/flexible-ordering.test.ts
  packages/b_parsers/src/gradient/conic.ts
  packages/b_parsers/src/gradient/gradient.ts
  packages/b_parsers/src/gradient/index.ts
  packages/b_parsers/src/gradient/linear.ts
  packages/b_parsers/src/gradient/radial.ts
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint

feat(parsers): add color hint support + fix OKLCH validation
  docs/SESSION_HANDOVER.md
  docs/sessions/040/POSITION_4VALUE_ISSUE.md
  packages/b_generators/src/color/oklch.test.ts
  packages/b_generators/src/color/oklch.ts
  packages/b_generators/src/gradient/__tests__/linear/color-stops.test.ts
  packages/b_generators/src/gradient/color-stop.ts
  packages/b_parsers/src/gradient/__tests__/linear/color-stops.test.ts
  packages/b_parsers/src/gradient/color-stop.ts
  packages/b_parsers/src/gradient/conic.ts
  packages/b_parsers/src/gradient/linear.ts
  packages/b_parsers/src/gradient/radial.ts
  packages/b_types/src/color-stop.ts
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint

docs(research): position 4-value syntax analysis
  docs/sessions/040/POSITION_PARSER_RESEARCH.md
Due: prettier-md, markdownlint

docs(handover): update position issue with research link
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs(session): add comprehensive session 040 summary
  apps/basic/src/app/routeTree.gen.ts
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/sessions/034/debug-test.ts
  docs/sessions/040/POSITION_4VALUE_ISSUE.md
  docs/sessions/040/POSITION_PARSER_RESEARCH.md
  docs/sessions/040/SESSION_SUMMARY.md
  packages/b_generators/src/position.test.ts
  packages/b_generators/src/position.ts
  packages/b_parsers/src/gradient/__tests__/conic/color-stops.test.ts
  packages/b_parsers/src/gradient/__tests__/conic/combinations.test.ts
  packages/b_parsers/src/gradient/__tests__/conic/edge-cases.test.ts
  packages/b_parsers/src/gradient/__tests__/conic/position.test.ts
  packages/b_parsers/src/gradient/__tests__/linear/color-stops.test.ts
  packages/b_parsers/src/gradient/__tests__/radial/color-stops.test.ts
  packages/b_parsers/src/gradient/__tests__/radial/combinations.test.ts
  packages/b_parsers/src/gradient/__tests__/radial/position.test.ts
  packages/b_parsers/src/gradient/color-stop.ts
  packages/b_parsers/src/gradient/conic.test.ts
  packages/b_parsers/src/position.test.ts
  packages/b_parsers/src/position.ts
  packages/b_types/src/position.ts
  packages/b_utils/src/generate/values.ts
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint
