Repository alphabio/b_values: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, prettier-md, markdownlint

lefthook.yaml:

pre-commit:
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    prettier-md:
      glob: "*.md"
      run: pnpx prettier --write --log-level=silent {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: pnpx markdownlint-cli2 --fix {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpx commitlint --edit {1}

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {push_files}
    typecheck:
      run: pnpm typecheck

feat(position): implement 4-value position syntax with edge+offset
  apps/basic/src/app/routeTree.gen.ts
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/sessions/040/SESSION_HANDOVER.md
  docs/sessions/040/git-ref.txt
  docs/sessions/041/ARCHITECTURAL_REFACTORING_PLAN.md
  packages/b_parsers/src/color/color-function.ts
  packages/b_parsers/src/color/color.ts
  packages/b_parsers/src/color/hsl.ts
  packages/b_parsers/src/color/hwb.ts
  packages/b_parsers/src/color/lab.ts
  packages/b_parsers/src/color/lch.ts
  packages/b_parsers/src/color/oklab.ts
  packages/b_parsers/src/color/oklch.ts
  packages/b_parsers/src/color/rgb.ts
  packages/b_parsers/src/css-value-parser.ts
  packages/b_parsers/src/gradient/color-stop.ts
  packages/b_parsers/src/gradient/conic.ts
  packages/b_parsers/src/gradient/linear.ts
  packages/b_parsers/src/gradient/radial.ts
  packages/b_parsers/src/index.ts
  packages/b_parsers/src/math/calc.ts
  packages/b_parsers/src/math/clamp.ts
  packages/b_parsers/src/math/minmax.ts
  packages/b_parsers/src/position.ts
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint

docs: location type decision analysis
  docs/SESSION_HANDOVER.md
  docs/sessions/042/LOCATION_TYPE_DECISION.md
  packages/b_declarations/src/properties/background-image/parser.ts
  packages/b_utils/src/parse/ast.ts
Due: biome-check, prettier-md, markdownlint

fix(b_types): migrate to css-tree's CssLocationRange format
  docs/SESSION_HANDOVER.md
  docs/sessions/042/LOCATION_TYPE_DECISION.md
  docs/sessions/042/SESSION_HANDOVER.md
  docs/sessions/042/git-ref.txt
  packages/b_declarations/src/generator.test.ts
  packages/b_parsers/src/gradient/gradient.ts
  packages/b_parsers/src/url.ts
  packages/b_types/src/result/issue.test.ts
  packages/b_types/src/result/issue.ts
Due: biome-check, prettier-md, markdownlint

perf(declarations,generators): remove redundant validation passes (Phase 2)
  docs/SESSION_HANDOVER.md
  docs/sessions/043/SESSION_HANDOVER.md
  docs/sessions/043/git-ref.txt
  docs/sessions/044/PHASE_2_GENERATOR_VALIDATION.md
  docs/sessions/044/PHASE_2_IMPLEMENTATION.md
  packages/b_declarations/src/parser.ts
  packages/b_generators/src/color/color.test.ts
  packages/b_generators/src/color/color.ts
  packages/b_generators/src/gradient/index.ts
Due: biome-check, prettier-md, markdownlint

fix(declarations): implement dual-path parser architecture for multi-value properties
  docs/SESSION_HANDOVER.md
  docs/sessions/044/CRITICAL_REGRESSION.md
  docs/sessions/044/IMPLEMENTATION_PLAN.md
  docs/sessions/044/PHASE_2_IMPLEMENTATION.md
  packages/b_declarations/src/core/registry.test.ts
  packages/b_declarations/src/parser.ts
  packages/b_declarations/src/properties/background-image/__tests__/background-image.test.ts
  packages/b_declarations/src/properties/background-image/definition.ts
  packages/b_declarations/src/properties/background-image/parser.ts
  packages/b_declarations/src/types.ts
Due: biome-check, prettier-md, markdownlint

docs(session-044): update handover with regression fix completion
  .vscode/cspell.json
  docs/SESSION_HANDOVER.md
  docs/sessions/042/performance-benchmark.ts
  docs/sessions/042/performance-profiler.ts
  docs/sessions/044/IMPLEMENTATION_PLAN.md
  docs/sessions/044/PHASE_2_GENERATOR_VALIDATION.md
  docs/sessions/044/PHASE_2_IMPLEMENTATION.md
  packages/b_declarations/src/properties/background-image/parser.ts.backup
Due: biome-check, prettier-md, markdownlint

refactor(parsers): remove unused disambiguation code
  docs/SESSION_HANDOVER.md
  docs/architecture/decisions/004-draft-test-suite-optimization.md
  docs/architecture/patterns/parser-architectures.md
  docs/sessions/044/SESSION_HANDOVER.md
  docs/sessions/044/git-ref.txt
  docs/sessions/045/AUDIT_FINDINGS.md
  docs/sessions/045/PHASE_3_CLEANUP_PLAN.md
  packages/b_parsers/src/gradient/__tests__/disambiguation.test.ts
  packages/b_parsers/src/gradient/disambiguation.ts
Due: biome-check, prettier-md, markdownlint

docs(phase4): complete codebase audit and cleanup
  docs/SESSION_HANDOVER.md
  docs/architecture/patterns/parser-architectures.md
  docs/sessions/045/AUDIT_FINDINGS.md
  docs/sessions/045/PHASE_4_AUDIT.md
  docs/sessions/045/SESSION_COMPLETE.md
  packages/b_declarations/src/parser.ts
Due: biome-check, prettier-md, markdownlint

docs(session045): add final summary for phases 3 & 4
  docs/sessions/045/FINAL_SUMMARY.md
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint

docs(session045): discover Phase 5 issues - source context formatting
  docs/SESSION_HANDOVER.md
  docs/sessions/045/PHASE_5_MISSING_FEATURE.md
  docs/sessions/045/PHASE_5_SEMANTIC_ISSUE.md
Due: prettier-md, markdownlint

feat(declarations): add issue enrichment (property context)
  docs/SESSION_HANDOVER.md
  docs/sessions/045/FINAL_SUMMARY.md
  docs/sessions/045/PHASE_5_SEMANTIC_ISSUE.md
  docs/sessions/045/SESSION_HANDOVER.md
  docs/sessions/045/git-ref.txt
  docs/sessions/046/ARCHITECTURE_DECISION.md
  docs/sessions/046/PHASE_5_PROPOSAL.md
  docs/sessions/046/SOURCE_CONTEXT_EXPLANATION.md
  docs/sessions/046/WHY_NO_REAL_EXAMPLE.md
  docs/sessions/046/test-source-context.ts
  packages/b_declarations/src/parser.test.ts
  packages/b_declarations/src/parser.ts
  packages/b_types/src/result/issue.ts
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint

docs(session046): add cleanup scope for next session
  docs/SESSION_HANDOVER.md
  docs/sessions/046/CLEANUP_SCOPE.md
Due: prettier-md, markdownlint

refactor(types,declarations,utils,parsers): remove unused sourceContext/location fields
  .vscode/cspell.json
  apps/basic/src/app/routeTree.gen.ts
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/sessions/042/performance-benchmark.ts
  docs/sessions/042/performance-profiler.ts
  docs/sessions/046/CLEANUP_SCOPE.md
  docs/sessions/046/SESSION_HANDOVER.md
  docs/sessions/046/WHY_NO_REAL_EXAMPLE.md
  docs/sessions/046/git-ref.txt
  docs/sessions/046/test-source-context.ts
  docs/sessions/047/CLEANUP_SUMMARY.md
  packages/b_declarations/src/parser.test.ts
  packages/b_declarations/src/parser.ts
  packages/b_parsers/src/css-value-parser.ts
  packages/b_parsers/src/gradient/gradient.ts
  packages/b_parsers/src/url.ts
  packages/b_types/src/result/issue.test.ts
  packages/b_types/src/result/issue.ts
  packages/b_utils/src/parse/ast.test.ts
  packages/b_utils/src/parse/ast.ts
  packages/b_utils/src/parse/index.ts
  packages/b_utils/src/parse/schema.ts
  packages/b_utils/src/parse/validate.test.ts
  packages/b_utils/src/parse/validate.ts
Due: biome-check, prettier-md, markdownlint

feat(declarations): add createMultiValueParser factory to fix incomplete consumption bug
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/sessions/047/CLEANUP_SUMMARY.md
  packages/b_declarations/src/properties/background-image/parser.ts
  packages/b_declarations/src/utils/create-multi-value-parser.test.ts
  packages/b_declarations/src/utils/create-multi-value-parser.ts
  packages/b_declarations/src/utils/index.ts
  packages/b_parsers/src/color/color-function.ts
  packages/b_parsers/src/color/color.ts
  packages/b_parsers/src/color/hsl.ts
  packages/b_parsers/src/color/hwb.ts
  packages/b_parsers/src/color/lab.ts
  packages/b_parsers/src/color/lch.ts
  packages/b_parsers/src/color/oklab.ts
  packages/b_parsers/src/color/oklch.ts
  packages/b_parsers/src/color/rgb.ts
  packages/b_parsers/src/css-value-parser.ts
  packages/b_parsers/src/gradient/color-stop.ts
  packages/b_parsers/src/gradient/conic.ts
  packages/b_parsers/src/gradient/linear.ts
  packages/b_parsers/src/gradient/radial.ts
  packages/b_parsers/src/index.ts
  packages/b_parsers/src/math/calc.ts
  packages/b_parsers/src/math/clamp.ts
  packages/b_parsers/src/math/minmax.ts
  packages/b_parsers/src/position.ts
  packages/b_utils/src/parse/css-value-parser.ts
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint

docs(session): update handover with multi-value parser factory details
  docs/SESSION_HANDOVER.md
  packages/b_declarations/src/generator.ts
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint

fix(parsers): implement Shunting-yard algorithm for calc() operator precedence
  docs/SESSION_HANDOVER.md
  docs/sessions/047/SESSION_HANDOVER.md
  docs/sessions/047/git-ref.txt
  packages/b_declarations/src/utils/create-multi-value-parser.test.ts
  packages/b_parsers/src/math/calc.test.ts
  packages/b_parsers/src/math/calc.ts
Due: biome-check, prettier-md, markdownlint

refactor(declarations): isolate type assertions to internal dispatch functions
  packages/b_declarations/src/parser.ts
Due: biome-check

refactor(declarations): remove duplicate type definitions
  packages/b_declarations/src/types.ts
Due: biome-check

refactor(generators): standardize error handling with Zod safeParse
  packages/b_generators/src/color/hex.test.ts
  packages/b_generators/src/color/hex.ts
  packages/b_generators/src/color/special.test.ts
  packages/b_generators/src/color/special.ts
Due: biome-check

docs(session-048): complete session documentation
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/sessions/048/EXECUTIVE_SUMMARY_RESPONSE.md
  docs/sessions/048/git-ref.txt
Due: prettier-md, markdownlint

docs(session-048): prepare test coverage handover for session 049
  docs/SESSION_HANDOVER.md
  docs/sessions/048/EXECUTIVE_SUMMARY_RESPONSE.md
  docs/sessions/048/TEST_RESEARCH.md
Due: prettier-md, markdownlint

test(parsers): add comprehensive tests for parser infrastructure
  apps/basic/src/app/routeTree.gen.ts
  docs/SESSION_HANDOVER.md
  docs/sessions/048/TEST_RESEARCH.md
  docs/sessions/049/SESSION_HANDOVER.md
  docs/sessions/049/git-ref.txt
  packages/b_parsers/src/color/color-function.test.ts
  packages/b_parsers/src/css-value-parser.test.ts
  packages/b_parsers/src/function-dispatcher.test.ts
Due: biome-check, prettier-md, markdownlint

docs: update session 050 handover with completion status
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

refactor(parsers): move css-value-parser and function-dispatcher to utils
  apps/basic/package.json
  apps/basic/src/app/routeTree.gen.ts
  biome.json
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  package.json
  packages/b_declarations/package.json
  packages/b_generators/package.json
  packages/b_keywords/package.json
  packages/b_parsers/package.json
  packages/b_parsers/src/color/color-function.ts
  packages/b_parsers/src/color/color.ts
  packages/b_parsers/src/color/hsl.ts
  packages/b_parsers/src/color/hwb.ts
  packages/b_parsers/src/color/lab.ts
  packages/b_parsers/src/color/lch.ts
  packages/b_parsers/src/color/oklab.ts
  packages/b_parsers/src/color/oklch.ts
  packages/b_parsers/src/color/rgb.ts
  packages/b_parsers/src/gradient/color-stop.ts
  packages/b_parsers/src/gradient/conic.ts
  packages/b_parsers/src/gradient/linear.ts
  packages/b_parsers/src/gradient/radial.ts
  packages/b_parsers/src/index.ts
  packages/b_parsers/src/math/calc.ts
  packages/b_parsers/src/math/clamp.ts
  packages/b_parsers/src/math/minmax.ts
  packages/b_parsers/src/position.ts
  packages/b_parsers/src/utils/css-value-parser.test.ts
  packages/b_parsers/src/utils/css-value-parser.ts
  packages/b_parsers/src/utils/function-dispatcher.test.ts
  packages/b_parsers/src/utils/function-dispatcher.ts
  packages/b_parsers/src/utils/index.ts
  packages/b_types/package.json
  packages/b_units/package.json
  packages/b_utils/package.json
  packages/b_values/package.json
  packages/typescript-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-check, prettier-md, markdownlint

docs: clarify test organization pattern - co-locate by default
  docs/architecture/patterns/testing-patterns.md
Due: prettier-md, markdownlint

refactor(declarations): co-locate background-image tests and add definition test
  apps/basic/package.json
  apps/basic/src/app/routeTree.gen.ts
  docs/architecture/patterns/testing-patterns.md
  packages/b_declarations/package.json
  packages/b_declarations/src/properties/background-image/definition.test.ts
  packages/b_declarations/src/properties/background-image/generator.test.ts
  packages/b_declarations/src/properties/background-image/parser.test.ts
  packages/b_generators/package.json
  packages/b_keywords/package.json
  packages/b_parsers/package.json
  packages/b_types/package.json
  packages/b_units/package.json
  packages/b_utils/package.json
  packages/b_values/package.json
  packages/typescript-config/package.json
Due: biome-check, prettier-md, markdownlint

test(parsers,keywords): add P2 infrastructure tests
  packages/b_keywords/src/color-space.test.ts
  packages/b_keywords/src/utils/zod.test.ts
  packages/b_parsers/src/gradient/gradient.test.ts
  packages/b_parsers/src/utils/color-interpolation.test.ts
  packages/b_parsers/src/utils/css-value-functions.test.ts
  packages/b_values/src/me.ts
Due: biome-check

docs(session): update session 051 handover with test completion
  .gitignore
  apps/basic/src/app/routeTree.gen.ts
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/sessions/050/SESSION_HANDOVER.md
  docs/sessions/050/git-ref.txt
  packages/b_parsers/src/gradient/__tests__/linear/error-handling.test.ts
  packages/b_parsers/src/gradient/linear.ts
  packages/b_values/src/agent.ts
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint

feat(declarations): implement CSS custom properties (--*)
  docs/sessions/051/custom-property-action-plan.md
  packages/b_declarations/src/core/registry.test.ts
  packages/b_declarations/src/core/registry.ts
  packages/b_declarations/src/properties/custom-property/definition.test.ts
  packages/b_declarations/src/properties/custom-property/definition.ts
  packages/b_declarations/src/properties/custom-property/generator.test.ts
  packages/b_declarations/src/properties/custom-property/generator.ts
  packages/b_declarations/src/properties/custom-property/index.ts
  packages/b_declarations/src/properties/custom-property/parser.test.ts
  packages/b_declarations/src/properties/custom-property/parser.ts
  packages/b_declarations/src/properties/custom-property/types.ts
  packages/b_declarations/src/properties/index.ts
  packages/b_declarations/src/types.ts
Due: biome-check, prettier-md, markdownlint

docs(session): complete session 051 - custom properties + declaration list research
  docs/SESSION_HANDOVER.md
  docs/sessions/048/TEST_RESEARCH.md
  docs/sessions/051/declaration-list-research.md
Due: prettier-md, markdownlint

fix(declarations): custom properties use parser special case instead of multiValue
  .gitignore
  apps/basic/package.json
  apps/basic/public/sessions.json
  apps/basic/src/app/routeTree.gen.ts
  apps/basic/src/app/routes/(public)/index.tsx
  apps/basic/src/app/routes/(public)/journey-map.tsx
  apps/basic/src/app/routes/(public)/test-growth.tsx
  apps/basic/src/app/routes/(public)/test-simple.tsx
  apps/basic/src/app/routes/(public)/timeline.tsx
  apps/basic/src/app/styles.css
  apps/basic/vite.config.ts
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/sessions/051/SESSION_HANDOVER.md
  docs/sessions/051/declaration-list-research.md
  docs/sessions/051/git-ref.txt
  docs/sessions/052/custom-property-architecture-decision.md
  packages/b_declarations/src/generator.ts
  packages/b_declarations/src/parser.ts
  packages/b_declarations/src/properties/custom-property/definition.test.ts
  packages/b_declarations/src/properties/custom-property/definition.ts
  packages/b_declarations/src/properties/custom-property/parser.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/generate-session-data.sh
Due: biome-check, prettier-md, markdownlint

docs(declarations): add comprehensive comment for input parsing
  docs/SESSION_HANDOVER.md
  packages/b_declarations/src/parser.ts
Due: biome-check, prettier-md, markdownlint

feat(declarations): add declaration list parser and generator
  packages/b_declarations/src/declaration-list-generator.test.ts
  packages/b_declarations/src/declaration-list-generator.ts
  packages/b_declarations/src/declaration-list-parser.test.ts
  packages/b_declarations/src/declaration-list-parser.ts
  packages/b_declarations/src/index.ts
Due: biome-check

docs: add auto-generate PropertyIRMap architecture proposal
  docs/SESSION_HANDOVER.md
  docs/sessions/052/auto-generate-property-map.md
  packages/b_declarations/src/declaration-list-parser.test.ts
  packages/b_declarations/src/declaration-list-parser.ts
Due: biome-check, prettier-md, markdownlint

docs(session-053): audit parseDeclarationList - issues with original field, duplicates, and issue context
  docs/SESSION_HANDOVER.md
  docs/sessions/052/SESSION_HANDOVER.md
  docs/sessions/052/declaration-list-audit.md
  docs/sessions/052/git-ref.txt
Due: prettier-md, markdownlint

refactor(b_declarations): remove original field from DeclarationResult
  docs/SESSION_HANDOVER.md
  docs/sessions/052/SESSION_HANDOVER.md
  docs/sessions/052/declaration-list-audit.md
  docs/sessions/052/git-ref.txt
  docs/sessions/053/issue-analysis.md
  docs/sessions/053/original-field-complete-removal.md
  packages/b_declarations/docs/sessions/054/original-field-audit.md
  packages/b_declarations/src/declaration-list-generator.ts
  packages/b_declarations/src/declaration-list-parser.test.ts
  packages/b_declarations/src/integration.test.ts
  packages/b_declarations/src/parser.test.ts
  packages/b_declarations/src/parser.ts
  packages/b_declarations/src/types.ts
Due: biome-check, prettier-md, markdownlint

feat(b_declarations): add duplicate property detection
  docs/SESSION_HANDOVER.md
  packages/b_declarations/src/declaration-list-parser.test.ts
  packages/b_declarations/src/declaration-list-parser.ts
Due: biome-check, prettier-md, markdownlint

docs: add comprehensive property addition guide
  docs/HOW-TO-ADD-PROPERTY.md
Due: prettier-md, markdownlint

docs: complete property addition blueprint
  docs/HOW-TO-ADD-PROPERTY.md
  docs/sessions/054/property-addition-research.md
Due: prettier-md, markdownlint
