Repository alphabio/b_values: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, prettier-md, markdownlint

lefthook.yaml:

pre-commit:
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    prettier-md:
      glob: "*.md"
      run: pnpx prettier --write --log-level=silent {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: pnpx markdownlint-cli2 --fix {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpx commitlint --edit {1}

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {push_files}
    typecheck:
      run: pnpm typecheck

docs: update session 016 with linear gradient parser progress
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs: finalize session 016 - linear gradient complete
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

feat(b_parsers): implement radial and conic gradient parsers
  docs/SESSION_HANDOVER.md
  docs/sessions/016/SESSION_HANDOVER.md
  docs/sessions/016/TODO-test-coverage.md
  docs/sessions/016/git-ref.txt
  docs/sessions/016/jsdoc-review.md
  docs/sessions/016/utils-structure-review.md
  packages/b_parsers/src/color/color.ts
  packages/b_parsers/src/gradient/color-stop.ts
  packages/b_parsers/src/gradient/conic.test.ts
  packages/b_parsers/src/gradient/conic.ts
  packages/b_parsers/src/gradient/index.ts
  packages/b_parsers/src/gradient/linear.test.ts
  packages/b_parsers/src/gradient/linear.ts
  packages/b_parsers/src/gradient/radial.test.ts
  packages/b_parsers/src/gradient/radial.ts
Due: biome-check, prettier-md, markdownlint

feat(b_declarations): integrate gradient parsers with background-image
  .vscode/cspell.json
  apps/basic/src/app/routeTree.gen.ts
  docs/SESSION_HANDOVER.md
  docs/sessions/017/SESSION_HANDOVER.md
  docs/sessions/017/git-ref.txt
  packages/b_declarations/src/properties/background-image.test.ts
  packages/b_declarations/src/properties/background-image.ts
  packages/b_generators/src/gradient/conic.test.ts
  packages/b_generators/src/gradient/conic.ts
  packages/b_generators/src/gradient/index.ts
  packages/b_generators/src/gradient/radial.test.ts
  packages/b_generators/src/gradient/radial.ts
  packages/b_parsers/src/angle.test.ts
  packages/b_parsers/src/angle.ts
  packages/b_parsers/src/color/color.ts
  packages/b_parsers/src/color/hsl.test.ts
  packages/b_parsers/src/color/hsl.ts
  packages/b_parsers/src/color/hwb.test.ts
  packages/b_parsers/src/color/hwb.ts
  packages/b_parsers/src/color/index.ts
  packages/b_parsers/src/color/lab.test.ts
  packages/b_parsers/src/color/lab.ts
  packages/b_parsers/src/color/lch.test.ts
  packages/b_parsers/src/color/lch.ts
  packages/b_parsers/src/color/oklab.test.ts
  packages/b_parsers/src/color/oklab.ts
  packages/b_parsers/src/color/oklch.test.ts
  packages/b_parsers/src/color/oklch.ts
  packages/b_parsers/src/color/rgb.test.ts
  packages/b_parsers/src/color/rgb.ts
  packages/b_parsers/src/length.test.ts
  packages/b_parsers/src/length.ts
  packages/b_parsers/src/position.test.ts
  packages/b_parsers/src/position.ts
  packages/b_utils/src/parse/css-value-parser.ts
  packages/b_utils/src/parse/index.ts
  packages/b_utils/src/parse/test-utils.ts
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint

fix(b_parsers): support unitless 0 in gradient color stop positions
  packages/b_declarations/src/properties/background-image.test.ts
  packages/b_parsers/src/gradient/color-stop.ts
  packages/b_values/package.json
  packages/b_values/src/me.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-check

feat(declarations): add generator.ts with GenerateResult API
  docs/SESSION_HANDOVER.md
  docs/sessions/018/SESSION_HANDOVER.md
  docs/sessions/018/git-ref.txt
  docs/sessions/019/AUDIT.md
  packages/b_declarations/src/generator.ts
  packages/b_declarations/src/index.ts
  packages/b_declarations/src/registry.ts
  packages/b_declarations/src/types.ts
Due: biome-check, prettier-md, markdownlint

feat(declarations): add type-safe generics to generator functions
  docs/sessions/018/AUDIT.md
  packages/b_declarations/src/generator.ts
Due: biome-check, prettier-md, markdownlint

docs: update SESSION_HANDOVER with type-safe generics
  apps/basic/src/app/routeTree.gen.ts
  docs/SESSION_HANDOVER.md
  justfile
  package.json
  packages/b_declarations/PROPERTY_ARCHITECTURE.md
  packages/b_declarations/REFACTORING_SUMMARY.md
  packages/b_declarations/src/core/generator.ts
  packages/b_declarations/src/core/index.ts
  packages/b_declarations/src/core/parser.test.ts
  packages/b_declarations/src/core/parser.ts
  packages/b_declarations/src/core/registry.test.ts
  packages/b_declarations/src/core/registry.ts
  packages/b_declarations/src/core/types.ts
  packages/b_declarations/src/generator.ts
  packages/b_declarations/src/index.ts
  packages/b_declarations/src/integration.test.ts
  packages/b_declarations/src/properties/background-image/__tests__/background-image.test.ts
  packages/b_declarations/src/properties/background-image/definition.ts
  packages/b_declarations/src/properties/background-image/generator.ts
  packages/b_declarations/src/properties/background-image/index.ts
  packages/b_declarations/src/properties/background-image/parser.ts
  packages/b_declarations/src/properties/background-image/types.ts
  packages/b_declarations/src/types.ts
  packages/b_values/src/me.ts
  packages/b_values/vite.config.ts
  pnpm-lock.yaml
Due: biome-check, prettier-md, markdownlint

fix(generators,types): fix gradient throwing and hex parser formats
  docs/SESSION_HANDOVER.md
  docs/sessions/019/SESSION_HANDOVER.md
  docs/sessions/019/git-ref.txt
  docs/sessions/020/ACTION_PLAN.md
  docs/sessions/020/CODE_REVIEW_GAPS_TO_COMPLETION.md
  docs/sessions/020/QUICK_WINS_COMPLETED.md
  packages/b_declarations/PROPERTY_ARCHITECTURE.md
  packages/b_declarations/REFACTORING_SUMMARY.md
  packages/b_declarations/src/properties/background-image/__tests__/background-image.test.ts
  packages/b_declarations/src/properties/background-image/generator.ts
  packages/b_generators/src/gradient/index.ts
  packages/b_types/src/color/hex.test.ts
  packages/b_types/src/color/hex.ts
Due: biome-check, prettier-md, markdownlint

refactor(parsers): convert atomic parsers to ParseResult (4/23)
  packages/b_declarations/src/properties/background-image/parser.ts
  packages/b_parsers/src/angle.test.ts
  packages/b_parsers/src/angle.ts
  packages/b_parsers/src/length.test.ts
  packages/b_parsers/src/length.ts
  packages/b_parsers/src/position.test.ts
  packages/b_parsers/src/position.ts
  packages/b_parsers/src/url.test.ts
  packages/b_parsers/src/url.ts
Due: biome-check

refactor(parsers,utils): convert color parsers and CssValue parser to ParseResult (12/23)
  packages/b_parsers/src/color/color.ts
  packages/b_parsers/src/color/hsl.test.ts
  packages/b_parsers/src/color/hsl.ts
  packages/b_parsers/src/color/hwb.test.ts
  packages/b_parsers/src/color/hwb.ts
  packages/b_parsers/src/color/lab.test.ts
  packages/b_parsers/src/color/lab.ts
  packages/b_parsers/src/color/lch.test.ts
  packages/b_parsers/src/color/lch.ts
  packages/b_parsers/src/color/oklab.ts
  packages/b_parsers/src/color/oklch.ts
  packages/b_parsers/src/color/rgb.test.ts
  packages/b_parsers/src/color/rgb.ts
  packages/b_parsers/src/gradient/color-stop.ts
  packages/b_utils/src/parse/css-value-parser.test.ts
  packages/b_utils/src/parse/css-value-parser.ts
Due: biome-check

docs(session-020): update handover with Phase 1.2 completion status
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs(session-020): add Phase 1.2 completion summary
  docs/sessions/020/PHASE_1_2_COMPLETE.md
Due: prettier-md, markdownlint

refactor(parsers): convert gradient parsers and declarations to ParseResult
  .vscode/cspell.json
  docs/SESSION_HANDOVER.md
  docs/sessions/020/PHASE_1_2_COMPLETE.md
  packages/b_declarations/src/core/parser.ts
  packages/b_declarations/src/core/types.ts
  packages/b_declarations/src/properties/background-image/parser.ts
  packages/b_declarations/src/utils/keywords.ts
  packages/b_parsers/src/gradient/color-stop.ts
  packages/b_parsers/src/gradient/conic.ts
  packages/b_parsers/src/gradient/linear.ts
  packages/b_parsers/src/gradient/radial.ts
  packages/b_parsers/src/utils/ast/functions.ts
Due: biome-check, prettier-md, markdownlint

test: update tests to use ParseResult pattern
  packages/b_declarations/src/core/parser.test.ts
  packages/b_declarations/src/core/registry.test.ts
  packages/b_declarations/src/integration.test.ts
  packages/b_declarations/src/properties/background-image/__tests__/background-image.test.ts
  packages/b_declarations/src/utils/keywords.test.ts
Due: biome-check

docs: update session handover - Phase 1 complete
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

test: add comprehensive test coverage for generator functions
  packages/b_declarations/src/core/generator.test.ts
  packages/b_declarations/src/core/generator.ts
  packages/b_declarations/src/properties/background-image/__tests__/generator.test.ts
Due: biome-check

feat(generators): use Zod validation in color generators
  .vscode/cspell.json
  docs/SESSION_HANDOVER.md
  docs/architecture/decisions/002-rich-error-messaging.md
  docs/sessions/020/SESSION_HANDOVER.md
  docs/sessions/020/git-ref.txt
  docs/sessions/021/test-failure-analysis.md
  packages/b_declarations/src/properties/background-image/generator.ts
  packages/b_generators/src/color/hsl.test.ts
  packages/b_generators/src/color/hsl.ts
  packages/b_generators/src/color/hwb.test.ts
  packages/b_generators/src/color/hwb.ts
  packages/b_generators/src/color/lab.test.ts
  packages/b_generators/src/color/lab.ts
  packages/b_generators/src/color/lch.test.ts
  packages/b_generators/src/color/lch.ts
  packages/b_generators/src/color/named.ts
  packages/b_generators/src/color/oklab.test.ts
  packages/b_generators/src/color/oklab.ts
  packages/b_generators/src/color/oklch.test.ts
  packages/b_generators/src/color/oklch.ts
  packages/b_generators/src/color/rgb.test.ts
  packages/b_generators/src/color/rgb.ts
  packages/b_generators/src/gradient/linear.ts
  packages/b_keywords/src/index.ts
  packages/b_keywords/src/named-colors.ts
  packages/b_keywords/src/utils/index.ts
  packages/b_keywords/src/utils/zod.ts
  packages/b_types/src/values/css-value.ts
  packages/b_types/tsconfig.json
  packages/b_utils/package.json
  packages/b_utils/src/generate/index.ts
  packages/b_utils/src/generate/validation.ts
  packages/b_utils/src/parse/index.ts
  packages/b_utils/src/parse/schema.ts
  packages/b_utils/src/parse/validate.ts
  packages/b_values/package.json
  packages/b_values/src/me.ts
  pnpm-lock.yaml
Due: biome-check, prettier-md, markdownlint

refactor(parsers): extract color interpolation utility
  docs/SESSION_HANDOVER.md
  packages/b_parsers/src/gradient/conic.ts
  packages/b_parsers/src/gradient/linear.ts
  packages/b_parsers/src/gradient/radial.ts
  packages/b_parsers/src/utils/color-interpolation.ts
  packages/b_parsers/src/utils/index.ts
Due: biome-check, prettier-md, markdownlint

docs: complete Session 021 - Phase 2 boilerplate reduction
  apps/basic/src/app/routeTree.gen.ts
  docs/SESSION_HANDOVER.md
  packages/b_keywords/src/utils/index.ts
  packages/b_keywords/src/utils/zod.ts
  packages/b_utils/src/generate/validation.ts
  packages/b_utils/src/parse/schema.ts
  packages/b_utils/src/parse/validate.ts
  packages/b_values/src/me.ts
  packages/b_values/vite.config.ts
Due: biome-check, prettier-md, markdownlint

feat(parsers): implement multi-error collection in parsers
  apps/basic/src/app/routeTree.gen.ts
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/sessions/021/SESSION_HANDOVER.md
  docs/sessions/021/git-ref.txt
  docs/sessions/022/ACTION_PLAN.md
  docs/sessions/022/FEEDBACK_ANALYSIS.md
  packages/b_declarations/src/core/parser.ts
  packages/b_declarations/src/properties/background-image/__tests__/background-image.test.ts
  packages/b_declarations/src/properties/background-image/parser.ts
  packages/b_parsers/src/color/hsl.ts
  packages/b_parsers/src/color/hwb.ts
  packages/b_parsers/src/color/lab.ts
  packages/b_parsers/src/color/lch.ts
  packages/b_parsers/src/color/oklab.ts
  packages/b_parsers/src/color/oklch.ts
  packages/b_parsers/src/color/rgb.ts
  packages/b_parsers/src/gradient/conic.ts
  packages/b_parsers/src/gradient/linear.ts
  packages/b_parsers/src/gradient/radial.ts
  packages/b_parsers/src/position.ts
  packages/b_types/src/result/parse.ts
Due: biome-check, prettier-md, markdownlint

refactor(generators): standardize Zod validation with zodErrorToIssues
  docs/SESSION_HANDOVER.md
  packages/b_generators/src/color/hsl.ts
  packages/b_generators/src/color/hwb.ts
  packages/b_generators/src/color/lab.ts
  packages/b_generators/src/color/lch.ts
  packages/b_generators/src/color/oklab.ts
  packages/b_generators/src/color/oklch.ts
  packages/b_generators/src/color/rgb.test.ts
  packages/b_generators/src/color/rgb.ts
  packages/b_types/src/result/generate.ts
Due: biome-check, prettier-md, markdownlint

docs: update session handover with Phase 1 & 2 completion
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

refactor(declarations): remove redundant error wrapping in parser
  docs/SESSION_HANDOVER.md
  docs/sessions/022/SESSION_HANDOVER.md
  docs/sessions/022/git-ref.txt
  packages/b_declarations/src/core/parser.test.ts
  packages/b_declarations/src/core/parser.ts
Due: biome-check, prettier-md, markdownlint

feat(types): add strict validation to all Zod schemas
  packages/b_types/src/angle.ts
  packages/b_types/src/color-interpolation-method.ts
  packages/b_types/src/color-stop.ts
  packages/b_types/src/color/color-function.ts
  packages/b_types/src/color/hex.ts
  packages/b_types/src/color/hsl.ts
  packages/b_types/src/color/hwb.ts
  packages/b_types/src/color/lab.ts
  packages/b_types/src/color/lch.ts
  packages/b_types/src/color/named.ts
  packages/b_types/src/color/oklab.ts
  packages/b_types/src/color/oklch.ts
  packages/b_types/src/color/rgb.ts
  packages/b_types/src/color/special.ts
  packages/b_types/src/gradient/conic.ts
  packages/b_types/src/gradient/direction.ts
  packages/b_types/src/gradient/linear.ts
  packages/b_types/src/gradient/radial-size.ts
  packages/b_types/src/gradient/radial.ts
  packages/b_types/src/length.ts
  packages/b_types/src/percentage.ts
  packages/b_types/src/position.ts
  packages/b_types/src/url.ts
  packages/b_types/src/values/css-value.ts
Due: biome-check

docs: update session 023 handover - phases 3-4 complete
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

refactor(declarations): reorganize package structure for clarity
  docs.llm/b_source.txt
  packages/b_declarations/src/core/index.ts
  packages/b_declarations/src/core/registry.ts
  packages/b_declarations/src/core/types.ts
  packages/b_declarations/src/generator.test.ts
  packages/b_declarations/src/generator.ts
  packages/b_declarations/src/index.ts
  packages/b_declarations/src/integration.test.ts
  packages/b_declarations/src/parser.test.ts
  packages/b_declarations/src/parser.ts
  packages/b_declarations/src/types.ts
Due: biome-check

docs: update ADR 002 with refined implementation strategy
  docs/architecture/decisions/002-rich-error-messaging.md
  docs/sessions/023/ADR-002-IMPLEMENTATION-PLAN.md
Due: prettier-md, markdownlint

docs: add ADR 002 planning to session handover
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs: regenerate ADR 002 implementation plan from clean slate
  docs/SESSION_HANDOVER.md
  docs/sessions/023/ADR-002-IMPLEMENTATION-PLAN.md
  docs/sessions/023/ADR-002-IMPLEMENTATION-PLAN.md.backup
Due: prettier-md, markdownlint

feat(types,utils): enhance error reporting with context and suggestions
  docs/SESSION_HANDOVER.md
  docs/architecture/decisions/002-rich-error-messaging.md
  docs/sessions/023/SESSION_HANDOVER.md
  docs/sessions/023/git-ref.txt
  packages/b_generators/src/color/hsl.test.ts
  packages/b_generators/src/color/hwb.test.ts
  packages/b_generators/src/color/lab.test.ts
  packages/b_generators/src/color/lch.test.ts
  packages/b_generators/src/color/oklab.test.ts
  packages/b_generators/src/color/oklch.test.ts
  packages/b_generators/src/color/rgb.test.ts
  packages/b_types/src/result/issue.ts
  packages/b_utils/src/generate/validation.ts
  packages/b_utils/src/index.ts
  packages/b_utils/src/string/index.ts
  packages/b_utils/src/string/levenshtein.test.ts
  packages/b_utils/src/string/levenshtein.ts
Due: biome-check, prettier-md, markdownlint

feat(generators): update all color generators with enhanced error context
  docs/SESSION_HANDOVER.md
  packages/b_generators/src/color/hsl.ts
  packages/b_generators/src/color/hwb.ts
  packages/b_generators/src/color/lab.ts
  packages/b_generators/src/color/lch.ts
  packages/b_generators/src/color/named.ts
  packages/b_generators/src/color/oklab.ts
  packages/b_generators/src/color/oklch.ts
  packages/b_generators/src/color/rgb.ts
Due: biome-check, prettier-md, markdownlint

docs(session024): Phase 2 complete summary and handover update
  docs/sessions/024/PHASE-2-SUMMARY.md
Due: prettier-md, markdownlint

fix(generators): implement missing error field population
  docs/SESSION_HANDOVER.md
  docs/sessions/024/PHASE-2-SUMMARY.md
  packages/b_declarations/src/index.ts
  packages/b_declarations/src/properties/background-image/index.ts
  packages/b_generators/src/color/named.ts
  packages/b_keywords/src/named-colors.ts
  packages/b_utils/src/generate/validation.ts
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint

docs: update SESSION_HANDOVER to reflect Phase 2 actually complete
  docs/SESSION_HANDOVER.md
Due: prettier-md, markdownlint

docs(session024): final status update - Phase 2 complete and validated
  docs/SESSION_HANDOVER.md
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint

docs(session024): correct status - Phase 2 INCOMPLETE
  docs/SESSION_HANDOVER.md
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint

feat(generators): implement semantic validation with warnings (ADR-002 Phase 2)
  docs/SESSION_HANDOVER.md
  docs/sessions/024/SESSION_HANDOVER.md
  docs/sessions/024/git-ref.txt
  docs/sessions/025/PHASE-2-COMPLETE.md
  docs/sessions/025/SESSION-END-SUMMARY.md
  docs/sessions/025/phase2-completion-plan.md
  docs/sessions/025/session-024-review.md
  packages/b_declarations/src/properties/background-image/generator.ts
  packages/b_generators/src/color/hsl.ts
  packages/b_generators/src/color/hwb.ts
  packages/b_generators/src/color/lab.ts
  packages/b_generators/src/color/lch.ts
  packages/b_generators/src/color/oklab.ts
  packages/b_generators/src/color/oklch.ts
  packages/b_generators/src/color/rgb.test.ts
  packages/b_generators/src/color/rgb.ts
  packages/b_generators/src/gradient/color-stop.ts
  packages/b_generators/src/gradient/conic.ts
  packages/b_generators/src/gradient/linear.ts
  packages/b_generators/src/gradient/radial.ts
  packages/b_types/src/result/issue.ts
  packages/b_utils/src/index.ts
  packages/b_utils/src/validation/index.ts
  packages/b_utils/src/validation/semantic.test.ts
  packages/b_utils/src/validation/semantic.ts
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint

feat: complete Phase 3 - warning propagation with full path context
  apps/basic/src/app/routeTree.gen.ts
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/sessions/025/SESSION-END-SUMMARY.md
  docs/sessions/025/SESSION_HANDOVER.md
  docs/sessions/025/git-ref.txt
  packages/b_declarations/src/generator.ts
  packages/b_declarations/src/properties/background-image/__tests__/generator.test.ts
  packages/b_declarations/src/properties/background-image/generator.ts
  packages/b_generators/src/color/color.ts
  packages/b_generators/src/color/named.test.ts
  packages/b_generators/src/color/named.ts
  packages/b_generators/src/color/rgb.ts
  packages/b_generators/src/gradient/color-stop.ts
  packages/b_generators/src/gradient/conic.ts
  packages/b_generators/src/gradient/index.ts
  packages/b_generators/src/gradient/linear.ts
  packages/b_generators/src/gradient/radial.ts
  packages/b_types/src/result/generate.ts
  packages/b_utils/src/validation/semantic.ts
  packages/b_values/src/me.ts
Due: biome-check, prettier-md, markdownlint

feat(types): complete phase 3 warning propagation polish
  docs.llm/b_source.txt
  docs/SESSION_HANDOVER.md
  docs/sessions/026/SESSION_HANDOVER.md
  docs/sessions/026/git-ref.txt
  docs/sessions/027/SUMMARY.md
  docs/sessions/027/phase3-polish-plan.md
  packages/b_generators/src/color/named.ts
  packages/b_generators/src/gradient/conic.ts
  packages/b_generators/src/gradient/linear.ts
  packages/b_keywords/src/named-colors.ts
  packages/b_parsers/src/color/hsl.ts
  packages/b_parsers/src/color/hwb.ts
  packages/b_parsers/src/color/lab.ts
  packages/b_parsers/src/color/lch.ts
  packages/b_parsers/src/color/oklab.ts
  packages/b_parsers/src/color/oklch.ts
  packages/b_parsers/src/color/rgb.ts
  packages/b_parsers/src/gradient/conic.ts
  packages/b_parsers/src/gradient/linear.ts
  packages/b_parsers/src/gradient/radial.ts
  packages/b_parsers/src/position.ts
  packages/b_types/src/result/parse.ts
Due: biome-check, prettier-md, markdownlint
